[2017-02-04 08:58] mingard opened #1 "Chore: Remove localdb"
This build currently contains a local database. We must remove any of the following that relate to localdb (reasondb)
- [ ] Modules
- [ ] Packages
- [ ] Documentation

Notes from previous build:

1. *API’s* Currently added through the interface and stored in localdb. Could be part of config? For now, that seems like a good idea. Why would anyone else apart from engineers add and remove APIs anyway

[2017-02-04 09:03] mingard opened #2 "Add API configurations to config"
To avoid reliance on a local database, all API configurations will be held in config. We will start with a single API as there is no requirement currently for multiple. This can be reviewed and changed post-MVP

[2017-02-04 12:17] mingard opened #3 "Fetch users from API"
- [x] Initially create and store users in an API collection
- [ ] Potentially store users and roles using mongo [system.roles](https://docs.mongodb.com/manual/reference/system-roles-collection/) and [system.users](https://docs.mongodb.com/manual/reference/system-users-collection/)

Open for discussion prior to raising a ticket in @dadi/api

[2017-02-07 13:57] #1 closed, assigned to mingard

[2017-02-07 13:57] #2 closed, assigned to mingard

[2017-02-07 14:03] mingard opened #4 "Bundle/Accumulate api-wrapper requests"
Currently when using [api-bridge-client](https://github.com/dadi/publish/blob/master/dadi/frontend/lib/api-bridge-client.js), each request to the API must be `POST`ed individually. The wrapper takes to post body (JSON representation of an API request) and runs this through [api-wrapper](https://github.com/dadi/api-wrapper)

In some scenarios, such as fetching the config for each collection, we may

[2017-02-07 17:38] mingard opened #5 "Sign in with session"
Moving from the original localdb method, we need a sign in routine that checks API for the user. There is a hook in place already that should handle checking the result of a user/pass post body

[2017-02-09 13:09] mingard opened #7 "Remove underscore from frontend"
As per discussions with @eduardoboucas, underscore can be removed from frontend templates

[2017-02-09 13:10] mingard opened #8 "Improve frontend config method"
We need to be able to specifically choose which fields of nested objects care passed through to frontend.

An example with be `apis`, where we need to strip the *credentials* from each returned object in the array.

[2017-02-09 20:49] #3 closed, assigned to jimlambie, josephdenne, mingard

[2017-02-09 20:49] #5 closed, assigned to mingard

[2017-02-09 20:49] #7 closed, assigned to mingard

[2017-02-09 20:49] #8 closed, assigned to mingard

[2017-02-13 10:31] mingard opened #10 "Load Document field values into document edit view"

[2017-02-13 10:32] mingard opened #11 "Build navigation from collection schema"

[2017-02-13 10:33] mingard opened #12 "Gracefully handle missing Publish block"
When there is a missing or incomplete Publish block on a field or in collection settings, fallbacks must populate default menus and field display

[2017-02-13 12:24] mingard opened #13 "Static SignIn values to be taken from form input"
Currently login values are static. I was unable to get a form to submit properly. [See here]( https://github.com/dadi/publish/blob/master/dadi/frontend/views/SignIn/SignIn.jsx#L49-L50).

[2017-02-13 12:29] mingard opened #14 "Webpack production bundle issues"
- [x] Adding `NODE_ENV=production` is not enough. a `-p` must also be added. This should be fixed
- [x] Errors in `api-wrapper-core` when compiling production. This can be fixed by removing all ES2015-only syntax such as `let` and arrow functions. Perhaps it relates to `api-wrapper-core` being included in `api-wrapper` and webpack having issues applying ES2015 babel presets

[2017-02-13 21:45] mingard opened #16 "Move routing to redux"
https://github.com/matannoam/preact-router-redux

[2017-02-14 09:52] #10 closed, assigned to mingard

[2017-02-14 11:32] mingard opened #17 "Frontend config - change to endpoint"
Currently the frontend config is created during the build process.

As the app will exists as an NPM module, and the config will exist outside of core and the core build process, we must move the frontend config data into an RESTful response from an auth based endpoint, to be called on clientside app load.

Results could be cached.

[2017-02-15 12:35] #17 closed, assigned to mingard

[2017-02-15 12:35] #4 closed, assigned to eduardoboucas

[2017-02-17 10:14] mingard opened #21 "Config concept"
As per discussion with @josephdenne, a proposal for a concept that breaks down the required configuration blocks into apis and collections in order to limit the amount of api data stored in publish.

The `apis`, `structure` and `auth` blocks relate to an api, database and collection that holds further information.

`apis` would list all connected `api` credentials, including **host**, **port**, **

[2017-02-21 09:20] #16 closed

[2017-02-21 09:20] #11 closed

[2017-02-21 09:20] #14 closed

[2017-02-22 12:48] abovedave opened #28 "Add field description option"
Optional way of adding a description to a field for less experienced users.

[2017-02-22 12:49] abovebored opened #29 "Add field error message"
In addition to existing red highlight.

[2017-02-23 18:20] eduardoboucas opened #31 "Improve Style util class"

[2017-02-23 18:22] mingard opened #32 "API-wrapper throttling"
### Issue
When errors exist in close proximity to API `fetch` requests, we have occasionally seen uncaught looping where a multitude of concurrent requests are being made to API. In development this can crash a tab, but in production it's likely to hamper API performance and potentially exceed allocated memory on Publish instance. We need to capture this with some level of throttling in Publish ap

[2017-02-24 17:29] eduardoboucas commented on #13
Done in #33.

[2017-02-24 17:29] #13 closed

[2017-02-28 17:07] mingard opened #41 "Switch to `defaultProps` in all components"
New ES6 syntax for default props

[code]

[2017-02-28 17:22] mingard opened #42 "Add DADI CDN support to Image field"
- [x] Config schema for CDN, with defaults
- [x] CDN routes

[2017-03-01 19:49] mingard opened #43 "script: create component template"
### Create component
[code]
### Select type
[code]
[code]
### Name component
[code]
[code]
### Output
[code]

[2017-03-02 17:26] eduardoboucas opened #45 "Mobile menu icon doesn’t turn to cursor on mouse over"

[2017-03-02 17:27] eduardoboucas opened #46 "Collapse menu on selection"

[2017-03-03 08:23] mingard opened #48 "Sign in failure error missing"
Error notification when incorrect sign-in credentials submitted has disappeared

[2017-03-03 10:05] eduardoboucas commented on #41
Closed by #44.

[2017-03-03 10:05] #41 closed

[2017-03-03 10:06] #31 closed

[2017-03-03 14:58] eduardoboucas commented on #48
Fixed in #49.

[2017-03-03 14:58] #48 closed

[2017-03-03 15:18] #45 closed

[2017-03-03 15:24] eduardoboucas commented on #46
Fixed in #50.

[2017-03-03 15:24] #46 closed

[2017-03-06 15:29] #43 closed

[2017-03-06 20:17] mingard opened #55 "collections/nav missing"
Repeat x3
1. Sign in
2. Navigate to a collection
3. Observe data
4. Sign out

on second repeat, no collections exist on `state.api.apis[0]`
on third repeat, there is no nav

[2017-03-06 20:19] mingard opened #56 "filter list control"
Introduce the ability to add and remove multiple filters

[2017-03-06 20:38] mingard opened #57 "Display user data on profile page"
- [ ] name
- [ ] email
- [ ] bio
- [ ] profile photo

[2017-03-07 14:58] eduardoboucas opened #60 "Make Nav accept a generic groups prop"
Currently, `<Nav>` accepts a `groups` prop, which is created by `<CollectionNav>`. The idea being that `<CollectionNav>` fetches data about collections and groups, builds an array of items and passes that to `<Nav>`, which stays dumb and simply renders the items.

However, `<Nav>` is expecting a very specific type of object (the object representing a collection). And it's now also doing things lik

[2017-03-07 16:58] #55 closed

[2017-03-07 17:42] #60 closed

[2017-03-10 10:09] eduardoboucas opened #67 "Spec: document edit view"
# What I've done so far

## Store

The document store contains:

- `data`: An object representing the document being edited
- `validationErrors`: A list of validation errors for each field (to be expanded below)

## View

`DocumentEdit` (view) reads data from state, groups fields by section and UI position. In the future, it could make sense to move some of this logic away from the view and into a

[2017-03-10 10:33] eduardoboucas commented on #67
By the way, a consequence of representing the document being edited as an object in the store means that we can, for example, store it against the user, which would allow you to work on a document on your laptop and then carry on the editing process on your mobile.

[2017-03-10 10:45] mingard commented on #67
@eduardoboucas are you suggesting that we store any unpublished changes on the user record?

[2017-03-10 10:48] eduardoboucas commented on #67
@mingard Not a requirement for now, I suppose. I was just highlighting the benefits of having your unpublished changes as an object that you can move around to load your state anywhere you need. I suppose the technical implementation on how you'd sync multiple devices is outside the scope of this discussion, I was just saying that it would be possible and apparently not difficult at all.

[2017-03-10 10:50] mingard commented on #67
The alternative to this is to introduce _softHistory_ in API on a per-collection basis, and only persisted until the document has been versioned with each change.

This would differ from standard history in that it would exist to facilitate incremental temporary saving for documents during draft/edit stage.

Advantage:
- Would be validation against collection schema in API. Should the schema chang

[2017-03-10 10:52] eduardoboucas commented on #67
Not sure I understand. That's an alternative to what exactly? We still need Publish to hold the state of the document being edited.

Can you detail what you'd change from the spec above?

[2017-03-10 10:53] mingard commented on #67
Re `remote` and `local`. Like this very much. Do we expect to perform regular sync on remote. This could be as basic as `HEAD` request to the remote document API address to acknowledge `Last-Modified` and display a _document has changed_ message

[2017-03-10 10:54] mingard commented on #67
Rather than holding document changes in the user record to allow device-switch, we store them in a new type of history collection. It has no baring on the document stored in state

[2017-03-10 10:56] eduardoboucas commented on #67
The way I see it, when you start editing a document you take a snapshot of `remote` to build `local`. From that point on, you don't really touch `remote`.

We could indeed fetch changes from `remote` on a regular basis and try to conciliate them with `local` (only in fields that haven't yet been edited?), but I see some complexity being added here. Could we go for a simpler solution for MVP where

[2017-03-10 11:00] eduardoboucas commented on #67
(I just re-read your comment and I think that just showing a *document has changed* message is perfectly reasonable and doable)

[2017-03-10 11:02] mingard commented on #67
Perfect! I see that as more than enough for MVP. @josephdenne thoughts on the above?

[2017-03-11 15:26] mingard opened #70 "Link component"
Using the [router](https://github.com/dadi/publish/blob/master/docs/lib/router.md) lib, the `Link` component will take the same parameters to generate an anchor.

[code]

[2017-03-11 15:26] mingard commented on #70
@eduardoboucas thoughts?

[2017-03-13 08:25] eduardoboucas commented on #70
I'm a big fan of #69 and, to be honest, I don't see this component making the task of linking to a route much easier than it is to attach `createRoute()` to `<a>` directly. I do see a few potential problems with it.

Links are rarely `<a>` tags with just a `href` attribute. They will have classes for styling, the odd `style` attribute with inline styles that need to be set with data from JavaScrip

[2017-03-13 08:28] mingard commented on #70
The concept was in-part based on the react-router Link element which replaces anchor.

That's a good assessment so I'll close the issue.

[2017-03-13 08:28] #70 closed

[2017-03-13 10:44] eduardoboucas opened #71 "Handle failure of auth API"
## Steps to reproduce

1. Take down the API used to validate sessions.
1. Go to `/sign-in` and type any email+password
1. The app fails silently

## Details

API wrapper is returning an error object which can be seen by adding a `catch()` [here](https://github.com/dadi/publish/blob/master/dadi/lib/controllers/session.js#L21). But the app doesn't seem to pick up this error, perhaps because of the w

[2017-03-13 11:50] #71 closed

[2017-03-13 12:55] mingard opened #73 "Language support"
- [ ] Pass language file with initial payload (config endpoint?)
- [ ] Components to use language file for all static messages

[2017-03-13 13:55] mingard opened #75 "Load status bar"
- [ ] Introduce thin loading bar at top of page for data loading pagination
- [ ] Bind all api queries to status bar to better depict loading status
- [ ] Exist as a container
- [ ] Observe all states, and loading status

[2017-03-13 14:05] #56 closed

[2017-03-13 14:05] #12 closed

[2017-03-13 14:08] mingard opened #77 "URL filter formatting"
Currently we're using the same structure as an API filter. As per discussion with @josephdenne we will change this in post-mvp to:

`/{field}/{analyser}/{value}` (repeat)

e.g.
/first_name/is/foo/last_name/is/bar

[2017-03-13 14:23] eduardoboucas commented on #77
Like!

[2017-03-14 17:59] eduardoboucas commented on #67
Done in #72.

[2017-03-14 17:59] #67 closed

[2017-03-14 18:00] eduardoboucas commented on #29
Done in #72.

[2017-03-14 18:00] #29 closed

[2017-03-14 22:29] eduardoboucas commented on #75
Added in #81.

[2017-03-14 22:29] #75 closed

[2017-03-15 08:44] mingard opened #83 "FieldString: Option list"
A transitioning feature from v1 publish is the ability to specify options for a String, encapsulated in two parts of the field block:

[code]

@eduardoboucas outstanding question as discussed on Slack: Do we call this options? If not, what?

[2017-03-15 09:34] eduardoboucas commented on #83
Like! As for the name, maybe `dropdownOptions`  or something like that? Just anything that makes it more obvious that the property will make the field be rendered as a dropdown in Publish, rather than some mandatory configuration options.

What do you think?

[2017-03-16 14:11] eduardoboucas opened #86 "Toaster UI"
From Slack:

[2017-03-16 14:33] abovebored commented on #86
Besides this save state, can you think where else this would be used? I'm wondering if we trade it in for a 'saved' button state (the saved time is already shown at the bottom of a document)

[2017-03-16 14:43] eduardoboucas commented on #86
We'd need to display error messages in case a save operation fails, for example. We could theoretically still use the save button for that, but in some situations it might be useful to add some detail into what actually happened (is the API down? has something failed on the app side? etc.)

I can't think of any specific examples, but I think it would be a bit limiting to not have the ability to se

[2017-03-16 14:47] eduardoboucas commented on #83
Done in #84.

[2017-03-16 14:47] #83 closed

[2017-03-16 21:37] mingard opened #88 "Search support"
wildcard multi-word search to be performed at document index level

[2017-03-16 21:38] mingard opened #89 "Uncaught anchor refresh"
Transitioning between article edit view and document list causes entire app to refresh

[2017-03-17 00:17] #89 closed

[2017-03-17 13:45] eduardoboucas opened #92 "Extend docs generation to containers"
Currently, we're only generating automated documentation for files within `frontend/components`. Along with our effort of moving logic into containers (#91), I've been adding documentation to containers. We'll need to extend the [build-docs](https://github.com/dadi/publish/blob/master/package.json#L18) command to also look at `frontend/containers` and output Markdown files to `docs/containers`.

N

[2017-03-17 16:23] mingard opened #93 "Support for assets"
## Concept overview
- [ ] Assets will be stored within asset collection(s) specified within config
- [ ] Asset collections can contain one or more asset field (image/video/audio/file), nothing else.
- [ ] **AssetMeta** collections are where assets are manipulated for single-use, per-parent-collection. This is typically fields such as title, alt text, caption etc. It is also where image crops will

[2017-03-17 17:05] mingard commented on #86
Examples of possible errors

- Failed image upload
- Failed document save (connection)
- Failed document save (API)
- Failed document load (API)
- Failed save (user credentials)
- Failed authentication check

I don't see this as specific to the document edit view and it doesn't relate to format or requirement validation, which are already taken care of.

This is a globally applicable failure syste

[2017-03-17 17:23] mingard opened #94 "Filters no longer working"
Filters are appended to the url but are not taking affect

[2017-03-17 17:23] mingard opened #95 "Pagination to page 2 of 2 causes '0' page"
<img width="196" alt="screen shot 2017-03-17 at 17 20 40" src="https://cloud.githubusercontent.com/assets/1352469/24055037/7446230c-0b36-11e7-9d90-70c2a584b472.png">

[2017-03-17 17:24] mingard opened #96 "Pagination loses filters"
Filters and other search params are stripped when paginating

[2017-03-17 17:30] mingard commented on #96
fixed in https://github.com/dadi/publish/commit/4a4ebbb00207033e3d72097d484917239f78ee2b

[2017-03-17 17:30] #96 closed

[2017-03-17 17:48] #95 closed

[2017-03-17 17:49] mingard commented on #95
Done

[2017-03-17 18:38] mingard opened #97 "User profile view"
Create first-pass user profile view with:

### Requirements
- [x] Store remote user data in _local_ and _remote_
- [ ] Inputs
- [ ] Tabs
- [x] Handle redirect to section
- [ ] Password reset
- [ ] Update local on input change

### Fields/tabs

**Account tab**
- [ ] Full name
- [ ] Email
- [ ] A bio
- [ ] Profile image

**Settings**
- [ ] Language
- [ ] Timezone
- [ ] Date/time format

**Password r

[2017-03-17 18:39] mingard commented on #97
@eduardoboucas If you can style, including tabs and input components I'll build in events/methods

[2017-03-17 18:40] mingard opened #98 "Batch document actions"
I believe we already have multi select, so all this needs is
- [ ] action selection
- [ ] CTA
- [ ] Events
- [ ] Callback confirmation

[2017-03-17 18:44] mingard commented on #57
Duplicate of #97

[2017-03-17 18:44] #57 closed

[2017-03-19 13:35] mingard commented on #93
@josephdenne make sense?

[2017-03-19 13:46] mingard opened #99 "Save action: incorrect copy"
Text should be changed from 'save and duplicate' to 'save _as_ duplicate'

<img width="255" alt="slack-imgs" src="https://cloud.githubusercontent.com/assets/1352469/24081403/a1a84efe-0caa-11e7-91ed-2749c01c406c.png">

[2017-03-19 13:49] mingard opened #100 "Navigation highlighting lost"
- [ ] Lost on paginated view
- [ ] Lost in document edit view
<img width="911" alt="slack-imgs-1" src="https://cloud.githubusercontent.com/assets/1352469/24081418/e1f68f52-0caa-11e7-8506-c4895b2d4b9e.png">

[2017-03-19 13:51] mingard opened #101 "Navigation layout and formatting"
- [x] Spaces between navigation buttons missing
- [x] Navigation not centred
<img width="84" alt="screen_shot_2017-03-19_at_12 19 34" src="https://cloud.githubusercontent.com/assets/1352469/24081430/18887378-0cab-11e7-9f43-962dfcd33fbb.png">
<img width="1353" alt="slack-imgs-2" src="https://cloud.githubusercontent.com/assets/1352469/24081426/09fc234a-0cab-11e7-9927-96e33dfe87dc.png">

[2017-03-19 13:53] mingard opened #102 "Anchor text clash"
Clash when anchor text spans multiline

<img width="116" alt="screen_shot_2017-03-19_at_12 18 23" src="https://cloud.githubusercontent.com/assets/1352469/24081441/59f0b820-0cab-11e7-8f38-146ca8707501.png">

[2017-03-19 13:55] mingard opened #103 "Sign-in page rogue pixel"
On the sign-in page it is possible to scroll 1 pixel. This reveals a white line.
<img width="1348" alt="slack-imgs-3" src="https://cloud.githubusercontent.com/assets/1352469/24081447/a516df5a-0cab-11e7-82bb-53a2e5005614.png">

[2017-03-19 14:01] josephdenne commented on #93
Yes.

[2017-03-20 09:44] mingard opened #105 "Empty collection page"
When there are 0 documents in a collection, use layout specified in Redux

[2017-03-20 12:21] #94 closed

[2017-03-20 12:21] #99 closed

[2017-03-20 12:21] #100 closed

[2017-03-20 12:21] #102 closed

[2017-03-20 12:21] #103 closed

[2017-03-20 13:43] eduardoboucas commented on #101
This was built as per the design. If we add margin between the buttons, we'll struggle to fit as many page numbers on the screen and I think they'll look too spaced between them.

I believe this is no longer the case since I added the bulk actions controller in #104. Can you confirm?

[2017-03-20 13:47] eduardoboucas commented on #105
Not sure I understand this one. Are we talking about the document list view? And what layout are you talking about?

This is what currently happens:

<img width="1114" alt="screen shot on 2017-03-20 at 13_45_55" src="https://cloud.githubusercontent.com/assets/4162329/24102368/9df0ef22-0d73-11e7-8cb0-628c0ca0bb14.png">

We display the collection fields, just not any documents in the table. Can you

[2017-03-20 13:56] mingard commented on #105
In the Redux document you'll see the intended layout of a collection with no documents

[2017-03-20 22:04] mingard commented on #101
Navigation seems better, we do need spacing between so please add after discussing with @abovebored

[2017-03-20 23:43] eduardoboucas commented on #101
@abovebored over to you.

[2017-03-20 23:44] eduardoboucas commented on #105
I still don't know what you're talking about, sorry. What is the Redux document?

[2017-03-21 09:30] mingard opened #108 "remove component docs"
During the pre-commit hook call to doc gen, remove docs for any components that have been removed. Simple solution: Clear directory before regeneration.

[2017-03-21 16:41] eduardoboucas opened #110 "Spec: Date component"
There is the requirement to display dates with different formats throughout various parts of the application. I propose we build a `Date` component that will be used to display dates in a human-friendly format.

We've been using [Moment.js](https://momentjs.com/) for this in other products, but because we're talking about running it on the client-side, I propose we use [fecha](https://github.com/t

[2017-03-21 17:54] mingard commented on #110
Sounds great!

[2017-03-21 17:55] #105 closed

[2017-03-21 17:55] #108 closed

[2017-03-22 09:03] mingard commented on #88
This is no longer an MVP requirement

[2017-03-22 09:03] #88 closed

[2017-03-22 09:03] #42 closed

[2017-03-22 18:45] eduardoboucas commented on #86
@abovebored have you thought any more about this? Would be great to start building it.

[2017-03-23 09:58] mingard opened #119 "Filter defaults"
When adding a new filter, a default field and operator should be present

[2017-03-23 10:02] abovebored commented on #101
Yep as @eduardoboucas says, keep it compact! Can review later if needed.

[2017-03-23 10:03] mingard commented on #101
@abovebored The blocks are a bit tight, can we add spacing?

[2017-03-23 10:22] mingard commented on #101
Temporarily added 1px.

<img width="190" alt="slack-imgs-4" src="https://cloud.githubusercontent.com/assets/1352469/24243281/7d3ccf4e-0fb2-11e7-9ff2-5d5ba40e9ce7.png">

Further feedback when you can @abovebored

[2017-03-23 11:40] abovebored commented on #86
Like how they stack in that example @eduardoboucas, I'm worried they might get lost up there, but let's try it.

<img width="674" alt="screen shot 2017-03-23 at 11 37 12" src="https://cloud.githubusercontent.com/assets/649231/24246032/4f84d938-0fbd-11e7-89df-957c0d7d6d6a.png">

Borders are standard yellow, green & red. Backgrounds are Yellow #FFF3CD, Green #E9F8D7 & Red #E9F8D7.

[2017-03-23 12:01] mingard commented on #86
Looking at the example usage further I'm not convinced we necessarily need a toaster. The _Saved successfully_ message is nice, so long as it disappears after a time, or on click.

For connection issues, it would be ideal if we could preemptively alert the user of a disconnection issue rather than on save. Inbox does this well.

<img width="371" alt="screen shot on 2017-03-23 at 11 3a50 3a10" src=

[2017-03-23 12:26] eduardoboucas commented on #86
If we go with the "Saved successfully" message as per the design, we still need to answer the questions I raised in the first comment about whether or not it will push the content down.

[2017-03-23 12:36] mingard commented on #86
In the version of _Saved successfully_ @abovebored shared in his last comment the overlay in centred. That resolves the issue of pushing content down.

[2017-03-23 12:37] eduardoboucas commented on #86
Ah, sorry, I misread. I thought we were talking about the initial idea.

[2017-03-23 15:17] #119 closed

[2017-03-24 11:19] mingard opened #123 "Field permissions config"
Currently within the `display` block of a field we have `edit` and `index`, used to decide whether a field is displayed in either place.

There are some fields, such as `handle`, or `url` that are defined by hooks and are not subject to manual change. We need to extend both options, and move them into the publish block.

### Current
[code]

### Suggested change

[code]

[2017-03-27 09:15] eduardoboucas commented on #32
Closed in #125.

[2017-03-27 09:15] #32 closed

[2017-03-27 09:17] mingard opened #126 "Block saving in offline state"
When disconnected from the internet, or when server is unresponsive, block all saving mechanism.

[2017-03-27 09:22] eduardoboucas commented on #98
I got this to the point of grabbing the IDs of the documents selected. It now needs to actually trigger an API call. Do we have designs for a "Are you sure you want to delete all this stuff" thing?

[2017-03-27 09:37] mingard commented on #98
I don't believe so. Lets capture with a standard dialog. @abovebored do you have anything to use here?

[2017-03-27 09:45] eduardoboucas commented on #123
Looks good to me, but I wonder if there's something at API level that could/should be done about this, since hooks are part of the core. It could make sense to add a `readonly` flag to the config schema, meaning that this field exists in the schema but you're not supposed to touch it.

[2017-03-27 09:46] eduardoboucas commented on #123
And of course the above would be taken into consideration when doing validation at API level, which would probably save us some trouble on Publish side.

[2017-03-27 09:48] mingard commented on #123
So you're thinking API would acknowledge the same settings? How would it differentiate between a change made by a hook and one made by API request? Would we need two variables here? `hook.readonly` and `request.readonly`?

How would we handle allowing `create` and `delete` but not `update`?

[2017-03-27 09:49] mingard commented on #123
Scenario:
- You want to allow users to create a handle, but not update it.
- You want a hook to populate the handle if it wasn't populated by the API request.
- You want the hook to populate it if it was deleted by the API request.

[2017-03-27 09:52] mingard commented on #123
I do like the simplicity of the `readonly` property though. Why don't we use that for now, inside the publish block. We can discuss permissions later as part of an API issue

[2017-03-27 09:53] eduardoboucas commented on #123
Okay.

[2017-03-27 09:53] mingard commented on #123
Updated description to match discussion. Look okay?

[2017-03-27 09:54] eduardoboucas commented on #123
Fine with me.

[2017-03-27 10:42] mingard opened #128 "Store document state in localstorage"
In order to preserve the state of 'draft' documents in post-mvp, we need to replicate the local state value into localstorage. For now, we just need to store the value.

I suggest we use https://github.com/elgerlambert/redux-localstorage but happy if we roll our own.

[2017-03-27 11:15] eduardoboucas commented on #86
Just a quick question on the "Saved successfully" dialog: don't we want to give it a green treatment if indicating success and a red one if indicating failure?

[2017-03-27 14:35] #126 closed

[2017-03-27 18:00] mingard opened #132 "Document state parameters for peers"

[2017-03-27 18:03] mingard opened #133 "App root logic"
At app root we currently have a sparse page.

Current options are:
- Default redirect to first collection, in order of appearance with optional user preference collection
- A dashboard view
- Redirect to Profile view

Suggestions welcome

[2017-03-28 08:42] eduardoboucas commented on #110
Done in #131.

[2017-03-28 08:42] #110 closed

[2017-03-28 08:42] eduardoboucas commented on #92
Done.

[2017-03-28 08:42] #92 closed

[2017-03-28 11:38] eduardoboucas commented on #128
A couple of questions about this:

1. Do we want to show a warning saying "You have unsaved changes" if the state of the document when the user loads the page comes from a locally-saved version and not the remote API? If so, how would this look visually? Sort of relates to #86.

1. What happens if the remote document has changed since you last opened it, meaning that your local version has potenti

[2017-03-28 15:23] mingard commented on #128
1. Yes, and that probably means #86 should have a more versatile error message as you suggest
2. That's a good question. We probably don't want to start down this path yet, as it's likely to be fairly complex. Is there anything about this decision that would block you now?

[2017-03-28 15:30] eduardoboucas commented on #128
Indeed. Will discuss on that ticket.

Not particularly. I can start with a simple approach of flagging to the user when the remote is out-of-sync and then we can think of a more comprehensive solution (possibly even post-MVP?).

[2017-03-28 15:36] eduardoboucas commented on #86
![screenshot](https://cloud.githubusercontent.com/assets/649231/24246065/7e7845e0-0fbd-11e7-8b21-094a73c85ac1.png)

^ I really like this one as a general method for displaying status messages. My idea is:

1. This is similar to the toaster proposed initially, but because it's anchored to the bottom toolbar the question about pushing content up or down isn't an issue. It just covers whatever conten

[2017-03-28 16:37] mingard commented on #86
@eduardoboucas Agree with all the above. How can we proceed?

[2017-03-28 16:38] eduardoboucas commented on #86
I can start building it.

[2017-03-28 16:39] mingard commented on #128
@eduardoboucas

Sounds good to me

[2017-03-28 16:39] mingard commented on #86
Awesome. Please do 👍

[2017-03-29 09:23] mingard opened #135 "Handle reference document edits"
## Overview
When selecting, editing or removing a referenced document we need to present the user with:
1. An interface to create or edit a document
2. An interface to select one or many referenced documents

### Proposal for selection
As per the media interface selection interface, a user will be taken to the collection list view where they'll have similar functionality to the standard list view.

[2017-03-29 11:57] #132 closed

[2017-03-29 13:07] mingard opened #137 "Validation doesn't block saving"
I'm able to save a document even when validation errors exist. The Save button only gets disabled after validation is triggered which only happens when each field is changed.

Video supplied on request.

[2017-03-29 13:42] #123 closed

[2017-03-30 09:09] #86 closed

[2017-03-30 09:40] eduardoboucas commented on #128
Closed via #139.

[2017-03-30 09:40] #128 closed

[2017-03-30 09:57] eduardoboucas commented on #137
Is this when creating a new document or edit an existing one?

[2017-03-30 10:02] eduardoboucas commented on #133
I think ultimately a dashboard would be nice, showing some stats about your own activity and some general data about articles being edited. But this sounds like post-MVP.

For MVP, I'd go with either:

- a redirect to first collection — could it be confusing to redirect people to a collection they might not even know exists, especially if they're new to the app?
- a message, in the style of [this

[2017-03-30 11:24] mingard commented on #133
Like the idea of having a basic welcome view for a user logged in for the first time. Selection of default collection etc as that can't always be achieved on signup (we may add batch creation of users, or import).

At a later stage, these settings can be used to direct editors to their chosen default.

For MVP, as you suggest, a redirect to first collection sounds good.

[2017-03-30 12:44] #137 closed

[2017-03-30 12:53] mingard opened #142 "dirty revisions, doc diffs and storage proposal"
### Current status
We currently have no undo/redo process as the document state is only current. We do use localstore to retrieve this on refresh, but that's it.

### To manage history
- [ ] Store diffs through the process of edit. These are simple key/value diffs.
- [ ] Store diffs in localstore, with version and timestamp
- [ ] Limit diffs to avoid overpopulating resources
- [ ] Limit localstore

[2017-03-30 13:07] eduardoboucas commented on #135
Couple of questions/thoughts:

I take it what we're moving away from the selectize-style approach used in the previous incarnation of the app — do we think that didn't work well? Wouldn't this be an easier way to select a referenced document without ever leaving the editor? Perhaps not great for media...

By launching both the document list and document edit views in a "nested mode", won't that be

[2017-03-30 13:11] mingard commented on #135
That's already part of the design for media, I'm just thinking we extend this to selection of sub documents to avoid effectively recreating the document list view (search, filtering, display) in a selectize style list.

[2017-03-30 13:12] mingard commented on #135
I see that as a UX challenge. We face this regardless, as this is how media is presented

[2017-03-30 13:16] mingard commented on #135
See page 28 in Redux
<img width="972" alt="screen shot 2017-03-30 at 13 12 22" src="https://cloud.githubusercontent.com/assets/1352469/24505750/96c21a58-154a-11e7-9236-630701a65ebb.png">

[2017-03-31 08:18] eduardoboucas commented on #135
I'm happy with this and your URL structure makes perfect sense. We'll need some logic to detect a document ID versus a page number so we can distinguish between the *Proposed for selection* and *Proposed for create/edit* URLs, which we could potentially avoid by adding another keyword to the URL. I assume the reasoning to not do it this way is to prevent the URL from getting even longer. I'm happy

[2017-03-31 09:57] mingard commented on #135
Updated spec after call:

- [ ] Store all document data in single object (as current)
- [ ] local to start as `{}` and only be appended when there's a change
- [ ] field `onChange` event to diff local and remote values. If no change, remove previously appended values from local
- [ ] Field change method will be able to detect which field based on the existence of a `field` param in url
- [ ] Diff

[2017-03-31 10:12] eduardoboucas commented on #135
No, I think it covers everything.

[2017-03-31 13:06] eduardoboucas commented on #133
A temporary home view was added as part of #144. Should we close this ticket and open a post-MVP one at a later stage?

[2017-04-03 08:33] mingard opened #147 "Filter UI revisions"
Filters are to be simplified. We will:
- [ ] Remove toggle functionality
- [ ] Change 'Filters' to 'Add Filters'
- [ ] Have new 'Add Filters' button add a new filter to the bottom of the list
- [ ] Remove '+' button

[2017-04-03 08:44] mingard opened #148 "Changes to toolbar layout"
- [ ] Move delete button right, left of save button, with horizontal rule
- [ ] Move Created information to centre, vertically align
- [ ] Move active users far left

<img width="341" alt="screen shot 2017-04-03 at 09 43 25" src="https://cloud.githubusercontent.com/assets/1352469/24601753/08f9a46a-1852-11e7-9a7e-b1dcac01e456.png">
<img width="142" alt="screen shot 2017-04-03 at 09 44 25" src="http

[2017-04-03 10:12] mingard opened #149 "Localstore fails to update"
Steps to reproduce:
-  Open a document with text field
- Make a change to the text field
- Without selecting any other fields, hit refresh

The onChange event only fires when the field loses focus

[2017-04-03 10:16] eduardoboucas commented on #149
To address this, we either start registering changes on every keystroke (which I don't think is a good idea) or we have a timer that forces an update every 2 seconds or something.

[2017-04-03 10:30] mingard commented on #149
Can't we use a `beforeunload` event?

[2017-04-03 10:46] eduardoboucas commented on #149
I had some issues with it in the past, but I'll give it a go.

[2017-04-03 12:24] mingard opened #150 "Design for drag-and-drop over state"
UI required in support of the drag-and-drop asset upload method.
<img width="355" alt="screen shot 2017-04-03 at 13 25 13" src="https://cloud.githubusercontent.com/assets/1352469/24609039/0a27d43c-1871-11e7-9a54-6d57135890eb.png">

[2017-04-03 16:52] eduardoboucas commented on #148
*With peers:*

![screen shot 2017-04-03 at 17 50 52](https://cloud.githubusercontent.com/assets/4162329/24620602/2fa50746-1896-11e7-85db-317d66387f59.png)

*Without peers:*

![screen shot 2017-04-03 at 17 51 14](https://cloud.githubusercontent.com/assets/4162329/24620609/3278bc9c-1896-11e7-99d4-7166499b9a9d.png)

^ is that okay?

[2017-04-03 16:54] mingard commented on #148
Central/vertical align 'Created at' and 'Last updated'. When no 'Last updated', make sure to vertically align 'Created At'. Horizontal split between delete and Save button too.

Otherwise great!

[2017-04-03 17:34] mingard opened #151 "Document counter wrapping occurring even with sufficient horizontal whitespace"
When looking at a collection with more than one page (showing jump to page input) the current view metrics are wrapping.

A side note is that the _Go to page_ input is rather large. No reason to allow more than 5 digits. At a pagination limit of 20 that's 1,000,000 records.
<img width="154" alt="screen shot 2017-04-03 at 18 14 27" src="https://cloud.githubusercontent.com/assets/1352469/24622127/c4

[2017-04-04 08:00] mingard opened #153 "Keyboard shortcuts - action list"
We have keyboard shortcuts working, but need a list of keys/actions to satisfy Redux requirements

[2017-04-04 09:48] eduardoboucas commented on #148
*With peers:*

![screen shot 2017-04-04 at 10 46 23](https://cloud.githubusercontent.com/assets/4162329/24651048/32a7ed1c-1924-11e7-87b0-a0a5181e8ef5.png)

*Without peers:*

![screen shot 2017-04-04 at 10 46 48](https://cloud.githubusercontent.com/assets/4162329/24651054/38b22470-1924-11e7-90eb-12a5bfec1679.png)

*Without peers, single line:*

![screen shot 2017-04-04 at 10 47 15](https://cloud.gi

[2017-04-04 11:23] #147 closed

[2017-04-04 11:28] #148 closed

[2017-04-04 15:29] #151 closed

[2017-04-04 15:30] #149 closed

[2017-04-04 15:42] mingard opened #157 "Incorrect 'unsaved changes' warning"
Opening any document and hitting refresh causes the 'unsaved changes' prompt

[2017-04-05 11:07] #157 closed

[2017-04-05 14:11] eduardoboucas opened #161 "Standardise field component props"
As previously discussed, I think it would be great to standardise the props that field components receive. This would allow us to get rid of the `switch` statement that repeats a bespoke call to each component multiple times and would get us a step closer to loading these fields dynamically.

My idea is for the logic to eventually be something like this:

1. `DocumentEdit` iterates through fields,

[2017-04-05 14:13] eduardoboucas opened #162 "Document publish.subType"
We've added a `subType` property to the `publish` block with the `FieldAsset` component, but it's not documented in the [publish block document](https://github.com/dadi/publish/blob/master/docs/publish-specific-fields.md).

[2017-04-05 14:18] mingard commented on #161
`showPreview` could be determined by the `accept` parameter. I'll look into changing that. The alternative is the create parent components for `FieldAsset` such as `FieldImage`, `FieldAudio` etc, but that seems like dumb logic.

[2017-04-05 14:22] eduardoboucas commented on #161
I don't think it's that dumb, to be honest. Even though these assets may use the same data representation, they may have particularities about them that makes different components an interesting option. It also makes the mapping of field type to component a bit easier: if the sub-type is `Image`, use `FieldImage`. No need to map multiple sub-types to `FieldAsset`.

I think the benefits we get just

[2017-04-05 14:24] eduardoboucas commented on #161
In a way, it's the same thing as `<ButtonWithOptions>` using `<Button>` — it's using a smaller component and extending it with more functionality.

[2017-04-05 14:27] mingard commented on #161
Creating 3+ components so that 2/3 set a param to true and 1/3 set it to false seems excessive, especially as within the child component we can determine that value.

[2017-04-05 14:31] eduardoboucas commented on #161
I very much doubt that the only difference between a component that represents audio and one that holds an image is just those parameters. Surely you want to render different DOM elements, be able to play an audio track or zoom in on an image. Separate components would pave the way for those customisations.

Are you going to have a single component checking for a type and rendering `<audio>`, `<im

[2017-04-05 14:46] eduardoboucas commented on #135
Do we have any designs/ideas for how a referenced field that is not an image would look like? For example, if I'm referencing a collection of users from the articles collection, what would we display on the document edit view?

Do we want to define some sort of "primary field" (e.g. user name) that would represent the document within the document edit view?

On a side note, and I know we have disc

[2017-04-05 14:48] eduardoboucas commented on #135
(Pinging @abovebored as he may have some thoughts on this)

[2017-04-05 15:03] eduardoboucas opened #163 "Build FieldNumber"
We need a component to handle fields of type `Number`.

[2017-04-05 15:17] mingard commented on #135
Post-MVP we will look at other ways of displaying referenced docs but for now just focus on the document list view approach.

[2017-04-05 15:20] eduardoboucas commented on #135
Sure. That doesn't answer my question as to how the referenced document is displayed on the document edit view, though.

[2017-04-05 15:21] mingard opened #164 "Reference document selection: optional view method"
For MVP we are using the standard document list view for selecting Referenced documents. This approach covers the requirements for media selection as per Redux.

Post-MVP we _may_ want to consider optional methods for selecting an existing document, similar to previous selection option methods.

Create/Edit should still use the standard document edit view.

@eduardoboucas shared some views on a po

[2017-04-05 15:23] mingard commented on #135
Use the first field, as we do for list view navigation anchor.

[2017-04-05 15:25] eduardoboucas commented on #135
Thanks.

[2017-04-05 15:30] abovebored commented on #135
The concept of a primary field has come up a lot, right? I think it has merit because it follows the age-old database paradigm of primary & foreign keys, but are more human readable for our interface.

Is the plan for the media library [referenced above](#issuecomment-290407251) still happening? The way that was envisioned is you can't edit a document, just select an existing then it would embed i

[2017-04-05 15:32] abovebored commented on #135
There's also this much referenced shelved bastard child of selectize and the full page route:

<img width="473" alt="screen shot 2017-04-05 at 16 08 59" src="https://cloud.githubusercontent.com/assets/649231/24713380/696c2148-1a1d-11e7-8fe9-79410ff068e1.png">

[2017-04-05 15:48] mingard commented on #135
@abovebored yes the media Reference is going ahead as planned, with a few tweaks (mainly storage).

- Adding a new image is simple drag-and-drop or select to upload
- Selecting existing media takes the user to the media collection list view (as per Redux, with minor changes)

The main issue we're trying to tackle is how to display other documents.

For MVP we'll just replicate the media selection,

[2017-04-05 15:52] mingard commented on #164
I don't see why we'd want to introduce a select list into the document editor when choosing Referenced documents. It means we have to:
a) Define a primary field, which may not always be possible
b) Cram in search, filtering and display into a small container

As we discussed @josephdenne, a quick navigation to the appropriate Referenced document collection list view with checkboxes to select docum

[2017-04-05 16:19] mingard opened #165 "API throttling too restrictive"
Navigating between a few collections in a fairly normal timewindow causes throttling to take affect. Once this has happened, the loader halts and the app becomes unusable until refresh.

I reduced the requests per second throttle to 10 as 150 was excessive enough to cause an app crash. After I did this I realised that simply navigating between collections at a rate of about once every 0.8 seconds

[2017-04-05 17:22] abovebored commented on #164
Yep, agreed.

For the post-stuff we should look at how we could handle small 'one-to-many' style datasets (like a tag style situation) because I can see the selectize-style autocomplete pattern being very useful there. Perhaps it's a field-type where you define which API fields your searching against, where to store the text input for a new document etc within the field, rather than giving documen

[2017-04-06 15:02] eduardoboucas opened #166 "Build FieldDateTime"

[2017-04-06 15:09] mingard commented on #164
Indeed.

In the tag example we'd need a way to distinguish between a collection that opens full-page and one that can be linked through a basic, or perhaps complex `<select>` list. It might be a configuration piece, or automated.

[2017-04-06 15:09] mingard commented on #161
As per our call lets go with your suggestion of single-use Fields. You have me convinced!

[2017-04-06 15:45] mingard opened #168 "Notify user when there are hidden selected documents"
### Where
Document List View
### When
Selecting documents for batch actions, or for Reference
### Requirement
A way (perhaps similar to Gmail) of alerting the user that they have selected documents that are not currently in view.
### Scenario
- User enters list view, page 1
- User checks/selects a document on page 1
- User navigates to page 2
- User checks/selects a document on page 2
- User uses

[2017-04-07 09:27] mingard commented on #165
As per discussion with @eduardoboucas the issue description has been refined.

[2017-04-07 09:56] eduardoboucas opened #170 "Move network calls to actions"
As per discussion, this is to be implemented: https://github.com/dadi/publish/blob/master/docs/stores.md

[2017-04-07 09:57] eduardoboucas opened #171 "Document documents.selectedDocuments"
`documents.selectedDocuments` has been added to the documents store, documentation needs to be updated.

On a side note, does the property need to be called `selectedDocuments` since we're already inside the documents store? Could it be just `selected` or `selection`? This would be consistent with how things are named across other stores (e.g. `document.local` vs. `document.localDocument`).

[2017-04-07 10:02] #162 closed

[2017-04-07 10:04] mingard commented on #171
@eduardoboucas yes I had thought it needed changing. `selected` sounds good

[2017-04-07 10:06] mingard commented on #133
Yep

[2017-04-07 10:06] #133 closed

[2017-04-10 10:04] #171 closed

[2017-04-10 10:04] #166 closed

[2017-04-10 10:04] #163 closed

[2017-04-10 11:05] eduardoboucas commented on #161
All field components now receive the exact same props and their docs have been updated. Example: https://github.com/dadi/publish/blob/master/docs/components/FieldString.md#props

[2017-04-10 11:05] #161 closed

[2017-04-10 12:11] eduardoboucas commented on #98
@abovebored Could you share your thoughts on this when you have a sec?

[2017-04-10 12:12] abovebored commented on #98
Could we use this from the doc editor?
<img width="280" alt="screen shot 2017-04-10 at 13 12 04" src="https://cloud.githubusercontent.com/assets/649231/24861102/5e1e70d6-1def-11e7-82d0-e36b06f27eb7.png">

[2017-04-10 12:50] mingard commented on #98
Looks good

[2017-04-10 12:51] eduardoboucas commented on #98
Perfect, thanks dude!

[2017-04-10 17:55] #98 closed

[2017-04-11 09:09] eduardoboucas commented on #170
Calls to get APIs and collections need to be moved too.

[2017-04-11 09:14] eduardoboucas opened #175 "Update API status to idle only when collections load"

[2017-04-11 12:07] abovebored commented on #168
How about where we have "Showing N of N" we switch this to "Selected N of N" and we highlight it in yellow? (as well as persisting it between pages)

<img width="182" alt="screen shot 2017-04-11 at 13 04 13" src="https://cloud.githubusercontent.com/assets/649231/24908294/63d9fcf2-1eb7-11e7-8c46-d7e49a1b0ab6.png">

Also from Gmail, there's that handy "Select **everything**" when select a whole page

[2017-04-11 13:42] mingard commented on #168
Like the sound of showing the selected total. Could we give it the ability to clear selection somehow?

Not sure about the select everything option, at least not until we have permissions. We'd also need to make it clear that it's all documents in the collection, and not just in view.

[2017-04-11 13:57] abovebored commented on #168
Clear selection - sounds like a job for the `esc` key? As for UI, how about change the select all checkbox in the table header to a cross?

[2017-04-11 14:02] mingard commented on #168
I'm not sure the `esc` is obvious enough  if it's the only method.

Re selectall checkbox in `th`, that still needs to work as a select/deselect for the current page. For the entire selection we'd need something clearly relating the the entire selected list.

[2017-04-11 14:04] mingard commented on #93
Update: Media collection is no longer specified in config. It is a fixed endpoint as part of the media features in API 2.0

[2017-04-11 14:17] abovebored commented on #168
**State 1: unchecked**
No documents selected

On click: Select all
Keyboard: Tab to move down list, space to select document

**State 2: checked**
All documents in current view selected (e.g., 20)

On click: unchecks, deselects all documents
Keyboard: esc clears all selection

**State 2: cross**
One or more documents selected

On click: swaps to unchecked, deselects all documents
Keyboard: esc cle

[2017-04-11 14:24] abovebored commented on #168
TIL: https://css-tricks.com/indeterminate-checkboxes/

We should probably use that line through one!

[2017-04-11 15:21] mingard commented on #168
Still not clear on what is supposed to happen when 100 documents are selected and only 20 are in view, perhaps not all in view selected.

E.g. Select all of page 1, then 2, then 2 from page 3.

The select toggle cannot be used on anything other than the documents in the current view so we still need something separate. Maybe I'm missing something with your description

[2017-04-13 08:29] eduardoboucas opened #176 "Build error"
When updating Webpack to version 2, we had to update preact-router as well (because of [this issue](https://github.com/developit/preact-router/issues/167)). The latest version (2.4.5) doesn't have this problem, but for some reason Publish is reluctant to install it.

When running the normal `npm install`, it flags that version of the package as invalid, due to an unmet peer dependency. I believe i

[2017-04-13 13:38] #176 closed

[2017-04-13 13:41] mingard opened #177 "build error: cannot build for production"
This has previously been fixed for webpack v1.1 but 2.0 shows the same issues with uglify. We may need to revert to using custom.

Low priority

[2017-04-19 11:37] #97 closed

[2017-04-19 11:37] #170 closed

[2017-04-19 11:37] #175 closed

[2017-04-20 09:53] eduardoboucas opened #180 "Docs need to be revisited"
Some docs (e.g. https://github.com/dadi/publish/blob/master/docs/overview.md) seem to have transitioned from a previous incarnation and contain information that is no longer up-to-date, such as local database and ACL.

[2017-04-20 09:55] eduardoboucas opened #181 "Investigate Storybook"
This would give us a living style guide + a live catalog of components: https://storybooks.js.org/

[2017-04-20 22:30] eduardoboucas opened #182 "Write tests for front-end components"
## Components

- [x] Banner
- [x] Button
- [x] ButtonWithOptions
- [x] ButtonWithPrompt
- [x] Checkbox
- [x] DateTime
- [x] DateTimePicker
- [x] DocumentFilter
- [x] DocumentFilters
- [x] Dropdown
- [x] ErrorMessage
- [x] FieldBoolean
- [ ] FieldDateTime (Filter tests blocked by #318)
- [x] FieldImage
- [ ] FieldNumber (Filter tests blocked by #318)
- [x] FieldPassword
- [x] FieldReference
- [x] F

[2017-04-20 22:33] eduardoboucas opened #183 "Write tests for back-end app"
### Controllers
- [x] api-bridge
- [x] app-config
- [x] session

### Helpers
- [x] array
- [ ] collection-routes
- [x] regex
- [x] string

### Models
- [ ] collections

### Router
- [ ] index
- [x] routes/api-bridge
- [x] routes/app-config
- [x] routes/session

### Server

- [x] index
- [x] socket
- [x] socket_auth/authentication
- [ ] socket_auth/room

### Other

- [x] lib/constants
- [x] lib/ind

[2017-04-20 22:35] eduardoboucas opened #184 "Upgrade to Preact 8"
Version 8 is 30% faster and even smaller.

Reference: https://github.com/developit/preact/releases

[2017-04-20 22:36] eduardoboucas commented on #183
@mingard Do you fancy handling these when you're back, whilst I focus on the front-end component tests?

[2017-04-20 22:37] mingard commented on #183
@eduardoboucas with pleasure

[2017-04-21 08:31] eduardoboucas opened #186 "Remove version and database from APIs config block"
Currently we have version and database on the block that configures the APIs that work with Publish and we use these parameters to get all the collections. This needs to change, as a single API is expected to have multiple versions and databases.

We need to get these parameters from the `api/collections` endpoint call, which we're already making anyway.

[2017-04-21 09:31] #186 closed

[2017-04-21 10:05] eduardoboucas opened #188 "Investigate code splitting"
To reduce the size of the bundle, we could look at [code splitting](https://webpack.github.io/docs/code-splitting.html).

[2017-04-21 10:12] eduardoboucas commented on #184
💣 via #185.

[2017-04-21 10:12] #184 closed

[2017-04-22 15:14] eduardoboucas commented on #183
We currently have mocha set up for the back-end tests, but it might be worth using Jest too. Having a single test runner would simplify the setup, coverage reports, etc.

[2017-04-23 12:25] mingard commented on #183
Sure. I'll take a look at Jest tomorrow

[2017-04-24 09:52] mingard opened #189 "Incorrect media view redirect"
- Clear all available images from API
- Open existing document to edit
- Click 'Select existing image' on image field
- Observe 'No documents yet.' message
- Click create new document
- Observe a redirect to `/new` for the base collection

[2017-04-24 09:53] mingard opened #190 "Filters: Space not accepted"
When typing in the value field for filters, pressing space is blocked

[2017-04-24 10:11] mingard opened #191 "Mobile view incorrectly showing"
Refreshing the document edit view occasionally shows the mobile view. It is then not possible to switch back without refresh.

[2017-04-24 10:20] mingard opened #192 "Unable to save images"
As per discussion in Slack:
- Unable to save images.
- Changed https://github.com/dadi/publish/blob/master/frontend/actions/documentActions.js#L160 from `referencedCollection` to `referencedCollectionSchema`, which fixed the failed saving
- Now seeing images urls incorrectly formatted with `0.0.0.0` as domain

[2017-04-24 10:42] mingard opened #193 "Message for empty filter results"
Currently if a filter fails to return any results the following message is returned.
<img width="523" alt="screen shot 2017-04-24 at 11 41 12" src="https://cloud.githubusercontent.com/assets/1352469/25333655/fe914c5c-28e2-11e7-8c3e-26f19c37a49c.png">

Perhaps we can display something useful here? Hints on searching @abovebored?

[2017-04-24 10:58] abovebored commented on #193
Could we use the 'empty' view, maybe with the following lines?

[2017-04-24 11:00] mingard commented on #193
@abovebored sure - maybe revisit further PMVP?

[2017-04-24 11:02] abovebored commented on #193
Totally, something indicating in the filters themselves when you try to add one that would yield no results would be cool.

[2017-04-24 11:15] #190 closed

[2017-04-24 12:52] eduardoboucas commented on #192
This is an API issue, captured [here](https://github.com/dadi/api/issues/245). Should we close this one?

[2017-04-24 12:53] eduardoboucas commented on #191
Have you seen this happening straight after making changes to any of the files in the bundle, or not necessarily?

[2017-04-24 12:57] mingard commented on #192
Closing as superseded by https://github.com/dadi/api/issues/245

[2017-04-24 12:57] #192 closed

[2017-04-24 13:00] eduardoboucas commented on #189
Should it display the button with the correct link to the referenced collection, or should we not display a button at all because we're not supporting creation of referenced documents as part of the editing workflow for MVP?

[2017-04-24 13:10] mingard commented on #191
I'm not sure - is that where you see it?

[2017-04-24 13:17] eduardoboucas commented on #191
I've seen this a couple of times, but I can only seem to replicate it right after making changes to the bundle, which leads me to believe it's a result of loading the app whilst something is still being rebuilt.

[2017-04-24 13:41] mingard commented on #189
Option 2. We're not allowing direct creation of media as it currently serves no purpose. It should just alert the user that there's nothing to choose from.

[2017-04-24 13:42] eduardoboucas commented on #189
Thanks!

[2017-04-24 13:50] #189 closed

[2017-04-24 14:12] mingard commented on #193
Yes! And perhaps spelling handling, or word proximity.

[2017-04-25 09:03] eduardoboucas opened #195 "Reset password view"
This is the only view left to do. From what I can see, we need:

**Back-end:**

- A password reset endpoint
- Generate a reset password token
- Send an email with a link to the endpoint + token
- Verify the token and reset the password

**Front-end:**

- The styled view

Thoughts @mingard?

[2017-04-25 09:11] eduardoboucas commented on #195
Okay. If you let me know how the Publish endpoint for requesting a password reset will look like, I can work on the front-end part.

[2017-04-25 16:03] #180 closed

[2017-04-25 16:04] mingard commented on #177
Resolved with https://github.com/dadi/publish/commit/76c9007139b7df6a4cf96f648420dbb0a4b45cee

[2017-04-25 16:04] #177 closed

[2017-04-25 16:04] mingard commented on #153
@paulrgn any update?

[2017-04-25 16:05] mingard commented on #150
ping @abovebored

[2017-04-25 16:33] abovebored commented on #150
Check out the active state for `.c-upload` in the mockup `index_media.html`

<img width="377" alt="screen shot 2017-04-25 at 17 30 36" src="https://cloud.githubusercontent.com/assets/649231/25396608/0c0e560e-29dd-11e7-9788-4ac651a5f2ff.png">

[code]

Bonus points for a smooth transition on dragover 🌈

[2017-04-25 16:42] mingard commented on #150
That was fast!

[2017-04-25 16:42] mingard commented on #150
Just realised you'd already done it. Will implement

[2017-04-25 16:45] abovebored commented on #153
Feel free to update this list ya'll.

# Global

| Shortcut  | Action |
| ------------- | ------------- |
| <kbd>esc</kbd>  | Cancel current action  |
| <kbd>tab</kbd>  | Focus elements  |

# Documents index

| Shortcut  | Action |
| ------------- | ------------- |
| <kbd>cmd</kbd>+<kbd>F</kbd> | Focus search box |
| <kbd>cmd</kbd>+<kbd>shift</kbd>+<kbd>F</kbd> | Open filters |
| <kbd>cmd</kbd>+<kb

[2017-04-25 17:11] mingard commented on #150
@abovebored how do you see it working with this?
<img width="321" alt="screen shot 2017-04-25 at 18 10 27" src="https://cloud.githubusercontent.com/assets/1352469/25398069/8721a72e-29e2-11e7-81ec-eee30217ff45.png">

[2017-04-25 22:24] mingard opened #199 "Incorrect login details cause wrong error message"
We seem to have removed the error messages from session and replaced with a single 401. This means that incorrect password throws an unreachable API error

[2017-04-25 22:26] mingard opened #200 "Socket regression"
Socket listeners are no longer working to clear down users. May need to discuss with you @eduardoboucas :)

[2017-04-26 08:07] eduardoboucas commented on #199
We're still sending information about the type of error and displaying the appropriate error message. This was working fine for me yesterday, I'll find out what changed.

[2017-04-26 08:09] eduardoboucas commented on #200
Okay. I did my best to steer clear of the socket logic whilst changing the auth flow, but apparently not successfully!

[2017-04-26 08:18] eduardoboucas commented on #199
The reason for this is [a PR on api-wrapper](https://github.com/dadi/api-wrapper/pull/37) that needed to be merged (I had the changes on my local environment). It has now been merged and it's deploying.

I'll close this issue after confirming that fixed the issue.

[2017-04-26 08:25] eduardoboucas commented on #199
Working fine for me after:

[code]

Can you confirm?

[2017-04-26 13:26] mingard commented on #199
confirmed / closed

[2017-04-26 13:26] #199 closed

[2017-04-26 13:26] #200 closed

[2017-04-26 14:24] #150 closed

[2017-04-28 10:39] eduardoboucas commented on #195
Do you have any information on what the endpoint will look like? Could we define it as `POST /reset` receiving an `email` property with the email address, returning a 200 with `success` as `true` or `false` depending on whether or not the address is valid, and a 500 if the email couldn't be sent?

[2017-04-28 16:05] mingard commented on #135
@eduardoboucas can this be closed?

[2017-04-28 16:07] eduardoboucas commented on #135
@mingard We don't have the *create reference document* bit for MVP, which is part of the ticket. But happy to close it if you want to create a separate ticket for that.

[2017-04-28 16:08] mingard commented on #135
@eduardoboucas I'll leave it open for now

[2017-04-28 16:49] eduardoboucas opened #205 "Add support for different media buckets"
At the moment, all images are being uploaded to the same media bucket in API (whatever is set as the default one). Calls to API wrapper should be configured to use whatever is defined in `settings.collection` on the Reference field as the name of the bucket, so we can have different buckets for article images, user avatars, etc.

(Not a difficult change, just documenting to make sure I don't forge

[2017-05-03 10:34] eduardoboucas opened #209 "Fix component architecture generator"
The script that generates the component architecture doc seems to have broken. 😢

I'll find out what's wrong.

[2017-05-03 10:39] mingard commented on #195
@eduardoboucas that sounds reasonable. We could use `dadi/queue` for email services, and have API handle this, not Publish.

[2017-05-03 10:43] eduardoboucas commented on #195
Isn't it a bit overkill to have a requirement for Queue just so we can send password reset emails, which will likely have a very low volume? Also, are you still happy to work on the back-end logic for this, or do you need help?

[2017-05-03 10:44] mingard commented on #195
It would allow us to retain pending tasks and handle resending if there is a failure so better for error handling and non-blocking.

[2017-05-03 10:50] eduardoboucas commented on #195
I understand that, but from what I understand, Queue is a microservice on its own, so at it currently stands it means deploying another service/web server. Is it reasonable to ask people to do this with the justification of being able to send password reset emails?

[2017-05-03 11:59] mingard opened #210 "API requirement check"
We should gracefully handle the following tree of requirements. Expected method of handling defined below:
![API requirement flow](https://cloud.githubusercontent.com/assets/1352469/25659563/43251e42-3000-11e7-8eee-7fe9ca3ef139.png)

[2017-05-03 12:07] mingard opened #211 "API check and create requirements"
Based on requirements in https://github.com/dadi/publish/issues/210, Publish scripts and package script block should include a requirement generation CLI tool.

It will find or create:
- [x] Auth collection check
- [x] Auth collection create/update
- [ ] Auth hook check
- [ ] Slugify hook check
- [ ] Auth hook create
- [ ] Slugify hook create

[2017-05-03 12:07] mingard commented on #195
As per discussion, the following are required to complete this issue:
https://github.com/dadiplus/publish-api/issues/8
https://github.com/dadi/api/issues/254
https://github.com/dadi/publish/issues/210
https://github.com/dadi/publish/issues/211

[2017-05-05 16:21] mingard opened #212 "Logs for login attempts"
As part of the ACL piece, considerations for tracking erroneous and harmful login attempts should be made. Specifically to handle:
- Incorrect logins
- Circumvention of service penetration attempts
- Other notable login activity events

[2017-05-09 14:24] mingard opened #213 "Handle render when Reference fields compose is disabled"
If the `settings.compose` value of a collection is `false`, the field, for example images, will not render properly. Using API-wrapper we should force compose

[2017-05-10 13:02] mingard opened #214 "Support for multiple and single reference field data"
We have a flag for multiple, which is used in Publish and exists only in the `publish` block.

Apart from changing the way content is displayed in Publish, this flag decides whether the Reference field can have one or many entries.

The requirements outstanding, and for discussion:

- Multiple defaults to true
- If set to false, store as a single ObjectId, no array
- If true, store as an array of

[2017-05-10 13:44] mingard opened #215 "Progress bar for document save and image upload"
Currently when a document is saved and the payload contains an image, there is a noticeable delay between saving and success. A progress bar and potentially a navigation warning would be useful here.

[2017-05-11 09:26] eduardoboucas commented on #214
I can get started on this. If we decide to make it part of API, I'll just need to look for `settings.limit` instead of `publish.limit`.

[2017-05-11 10:34] mingard commented on #214
Yes please

[2017-05-11 16:27] eduardoboucas commented on #214
I've made API format multiple media documents (in array format as well as single ObjectID). It doesn't seem to currently resolve non-media references in array format, so I'll address that first before I can finish the Publish piece. 👷

[2017-05-12 01:36] jimlambie commented on #214
@mingard "multiple" should already be in the Reference field settings, not the publish block?

[2017-05-12 07:28] mingard commented on #214
@eduardoboucas sounds good, thanks!
@jimlambie Okay, what affect does if have? Is there a limit value that limits the number of referenced documents in the array?

[2017-05-12 07:36] mingard opened #218 "Block unauthenticated session check"
When loading the signin page, a session check resulting in a 401 (as expected) as running. This should be captured to avoid console logging. Perhaps changing the 401 header to a 200 with a meaningful response body is the answer.

[2017-05-12 07:40] eduardoboucas commented on #218
Why should we avoid console logging? We should be informing the browser that the authentication failed and 401 seems like the correct code to do that.

[2017-05-12 08:48] mingard commented on #218
We don't really need to inform the browser, just the app. I see no reason to have an error throwing to console when you hit the sign in page

[2017-05-12 08:51] mingard opened #219 "Random DADI background"
Rather than using a static image, Publish should use [Pattern Generator](https://github.com/dadi/pattern-generator)

[2017-05-12 08:52] mingard opened #220 "Retain filters"
Filters should be visibly retained even when results are empty.

[2017-05-12 08:53] mingard opened #221 "Filter application enhancements"
- [x] Add a single global 'Apply' button to filter component.
- [x] Filters should only update on 'Apply' click, or return keypress

[2017-05-12 08:55] mingard opened #222 "Filters methods to reflect field type"
Some filter methods, such as **Greater than or equal to** should only appear for fields with type _Number_.

Map these methods to the field types.

[2017-05-12 08:56] mingard opened #223 "Current editor list regression"
Previously we were able to see other editors viewing a document. This has ceased to work.

[2017-05-12 08:57] mingard opened #224 "Discarded changes"
- [ ] Change text to 'You have unsaved changes. [Discard them?]'
- [ ] Changes are not always stored. Store should be triggered before page exit or reload.

[2017-05-12 09:00] mingard opened #225 "Messaging move to top of screen"
- [x] In a similar manner to symphony, messages such as the 'Unsaved changes' should be moved to the top of the window.
- [x] Messages should have the option of persistence.
- [ ] A highlighting colour should be applied, and degrade/fade into a more subtle tone.

@josephdenne as per discussion.

[2017-05-12 09:02] mingard opened #226 "Image drop area to cover entire block"
- The listener for image drop zone should cover entire block.
- Options such as 'Select existing Image' should be hidden.
- The block should be very simple, with the text 'Drop Image here' front and center.

[2017-05-12 09:03] mingard opened #227 "Multiple image drops retains first image"
### Actions to reproduce
- Drop an image
- Delete image
- Drop another
- Observe initial image render

[2017-05-12 09:06] mingard opened #228 "Block file drop"
When a file is dropped anywhere in the app, at any point, the drop should be captured and blocked to avoid accidental opening of dropped items in place of current content, and potential unsaved changes loss.

[2017-05-12 09:07] mingard opened #229 "Save as new error in console"
- [ ] When 'Save as new' is pressed an error relating to `batchAction` appears in console.
- [ ] The Save menu changes too and doesn't include all options. This is confusing.

[2017-05-12 09:10] mingard opened #230 "Review Save actions"
As per todays discussions @paulrgn @josephdenne we need to review all save actions.

We discussed the _Save as Duplicate_ button in some detail. Lets capture further conversation here.

[2017-05-12 09:51] mingard opened #231 "Error when saving user profile"
Although profile saves successfully, a 'wrong credentials' error appears in console

[2017-05-12 10:00] mingard commented on #218
As per https://bugs.webkit.org/show_bug.cgi?id=37215 general consensus is that this is a useful error when requesting an unauthorised resource, however I'm leaving this open to discuss how we might handle the failed session check, as it should not be considered an inaccessible resource, but a resource with a body with a meaningful message relating to the state of the current session.

[2017-05-12 12:50] mingard opened #233 "Validation parameter to fields"
For both API driven validation and local validation (checking email is valid on signin and password reset) we should separate validation as a parameter that we pass to Fields, rather than using the onChange event.

[2017-05-12 14:08] eduardoboucas commented on #233
We currently load fields dynamically, always passing to them the exact same set of data, and then each field type handles its own validation. With what you're proposing, where would the validation logic live and how would you know what validation logic to pass to each field type?

[2017-05-12 14:12] mingard commented on #233
Every Field type would have a validation method pushed to it. We'd interpret the validation block in config and pass that as a single method. I've applied this method to the password reset view. You can see it in action there.

[2017-05-12 14:14] eduardoboucas commented on #233
But where would those methods live?

[2017-05-12 14:16] mingard commented on #233
Currently undecided.

[2017-05-12 14:19] eduardoboucas commented on #233
I think we should avoid moving logic that should belong in each specific field into a global validation system. It harms modularity and raises questions around how custom fields would work.

[2017-05-12 14:24] mingard commented on #233
We aren't moving logic, we're creating it

The definitions of the validation will be called based on the field type, but be part of a centralised validation method. As validation should only be applied based on API accepted validation formats, I see no harm in this.

[2017-05-12 14:47] mingard commented on #233
Take `FieldString` for example. If we want to introduce a validation method in the field, we need to define not only the parameters that the value will be validated against, but a method to handle this. We'll have to introduce that into all fields that have any form of validation.

What I'm building is a single Validation class that can be used in any field. Current format looks like:

[code]

The

[2017-05-17 11:43] #228 closed

[2017-05-17 11:44] mingard commented on #227
Issue seems to be resolved by recent changes to multiple image features

[2017-05-17 11:44] #227 closed

[2017-05-17 13:38] #223 closed

[2017-05-17 13:43] mingard commented on #225
@abovebored when you can, some designs for the above spec please. Any questions, myself or @josephdenne can answer.

[2017-05-17 14:44] mingard commented on #221
@eduardo from a functionality perspective this is finished, however the `Update` button is not positioned very well. Can you apply some FE magic please?

[2017-05-17 15:08] mingard commented on #219
We're restricted by the size of the [minified pattern generator](https://dadi.tech/assets/js/pattern.min.js), which is approx 25kb.

This requires a major refactor so currently this ticket is blocked.

[2017-05-17 15:13] #220 closed

[2017-05-17 15:14] #195 closed

[2017-05-17 15:15] #218 closed

[2017-05-19 09:01] mingard opened #240 "DateTime doesn't display"
DateTime field value doesn't display until after first save

[2017-05-19 09:44] #222 closed

[2017-05-19 09:44] #221 closed

[2017-05-19 10:10] eduardoboucas commented on #240
Can you share the content of the field (from API response) when the issue occurs?

[2017-05-19 11:01] eduardoboucas commented on #226
To confirm, the block would still look the same on its normal state, but when dragging a file elements like "Select existing image" or "Select from device" would be hidden and only the drop zone is shown. Is this correct?

[2017-05-19 11:58] mingard commented on #240
Closing this as I can't replicate

[2017-05-19 11:58] #240 closed

[2017-05-22 08:29] eduardoboucas commented on #231
Further to the conversation on Slack, here's what I found on this issue so far.

When saving the user profile, the front-end sends a `PUT` request to the `/session` endpoint, which should be handled [here](https://github.com/dadi/publish/blob/master/app/lib/controllers/session.js#L150). Instead, this method doesn't seem to be called at all, and instead [this one](https://github.com/dadi/publish/bl

[2017-05-22 10:00] #229 closed

[2017-05-22 10:01] #231 closed

[2017-05-22 10:41] mingard commented on #213
close with https://github.com/dadi/publish/commit/5bd2edf781323826a9d8f5958ee6f3452cc939f9

[2017-05-22 10:41] #213 closed

[2017-05-22 10:58] #224 closed

[2017-05-22 13:48] eduardoboucas commented on #209
Whatever was wrong seems to have been fixed. I'll reopen if I see this again.

[2017-05-22 13:48] #209 closed

[2017-05-22 13:53] eduardoboucas commented on #214
Done in #232.

[2017-05-22 13:53] #214 closed

[2017-05-22 14:12] eduardoboucas opened #244 "Document document flow/local storage"
It'd be useful to document as much as possible the relationship between:

- Local document in store
- Remote document in store
- Changes in local storage

In particular, when and how documents are persisted to and removed from local storage, which keys are used, etc.

[2017-05-22 14:28] eduardoboucas commented on #205
At the moment, Publish identifies a reference to a media collection by looking at a hardcoded `mediaStore` value in the `settings.collection` value from the field schema. To implement this ticket, we need to make this lookup process dynamic.

To make that happen, API needs to inform what the various media buckets are so we can know whether a collection is a media bucket or not. I've suggested [an

[2017-05-24 07:53] mingard commented on #191
@eduardoboucas I believe this is, as you say, only appearing during build. Closing this, but will revisit if its seen in stable production

[2017-05-24 07:53] #191 closed

[2017-05-24 07:57] mingard commented on #153
@abovebored Thanks for this!

Couple of things to note:

- We no longer have a search input
- Filters are not a toggled property anymore

Perhaps cmd+f could add a filter?

I'll add the rest now. Let me know your thoughts.

[2017-05-24 07:59] #93 closed

[2017-05-24 07:59] #101 closed

[2017-05-24 16:58] #153 closed

[2017-05-25 07:20] mingard commented on #226
@eduardoboucas yes thats right

[2017-05-26 11:39] mingard commented on #211
To run this, call `npm run api-install`

@eduardoboucas assigning to you as the auth collection `setConfig` method fails because. See https://github.com/dadi/api/issues/283.

Also I'm still waiting for the ability to get hook content.

[2017-06-01 06:25] mingard opened #246 "Initial build errors"
When you pull a fresh copy of the repo and run build, you come into two errors.

The first is that main.css doesn't exist. We need to make sure this is automatically created before being written to.

If you go ahead and an empty file for main.css, you'll see the next issue:
[code]

I'm not sure the cause.

I have committed bundle.js and main.css to the repo to stop this issue, however if you remov

[2017-06-01 09:00] eduardoboucas commented on #211
From reading the linked ticket, I can see this is no longer an issue, correct?

This has been in API for a while. A `GET` to `/api/hooks/:hookName/config` will give you the hook content. We now also support `POST`, `PUT` and `DELETE`, see https://github.com/dadi/api/pull/256.

[2017-06-02 12:20] mingard opened #247 "Improve selection of default Reference label"
Often the first field in a schema is not a String. An improvement on the labeling of a Reference field would be to cycle through and find the first field that is a) String and b) Not multiline.

[2017-06-02 17:09] mingard opened #248 "Implement new Reference field save"
Using the new Reference save, remove all sub document save routines. Keep media routines and make sure all media is saved first

[2017-06-05 15:04] mingard opened #249 "fix tables when mangle enabled"
Enabling mangle [here](https://github.com/dadi/publish/blob/master/webpack.config.js#L143) reduces the size of bundle.js by about 200kb, but there is one issue.

The value of `nodeName.name` becomes `t` instead of `TableHead`, meaning [this check](https://github.com/dadi/publish/blob/master/frontend/components/Table/Table.jsx#L172) fails.

That causes the table head to default to being part of the

[2017-06-05 15:18] #246 closed

[2017-06-05 18:13] #215 closed

[2017-06-06 05:45] mingard commented on #249
This can wait, for now the bundle generation will not be mangled

[2017-06-06 06:18] #247 closed

[2017-06-06 09:07] mingard commented on #210
Blocked by #211

[2017-06-07 16:41] mingard opened #253 "Test failing"
If you uncomment all code in https://github.com/dadi/publish/blob/master/test/unit/lib/controllers/session.test.js and run a test, the following error appears.

[code]

It appears to be an issue with api-wrapper and tests

[2017-06-08 13:39] mingard commented on #225
The notifications are now at the top of the page, with some persisting. @eduardoboucas can you handle applying a class to notifications that are persisted, to fade background colour after a few seconds as per description?

[2017-06-08 14:02] mingard opened #255 "Document list view has scrollbar"
Even in cases where there are few or no documents in the list view, the screen is still scrollable. It appears to be because of the footer. This should not be the case.

[2017-06-09 10:23] #226 closed

[2017-06-12 08:19] #225 closed

[2017-06-12 08:45] #255 closed

[2017-06-12 09:00] mingard opened #257 "Duplicate view content: signin"
## Issue
Under certain conditions, on the sign in view multiple page dom elements can exist at once.

## Steps to reproduce
- Sign in
- Sign out
- Sign in again
- Scroll downwards

[2017-06-12 11:33] mingard commented on #219
For MVP this should cycle through 10x versions of the background. @abovebored are you able to supply these? Current version is 131kb but ideally the entire 10x would be less than 100kb.

[2017-06-12 12:08] abovebored commented on #219
Can you try with these three SVG files (total 102kb).

http://cloud.dadi.technology/JHyYb/4FBSXlpK

I think there's enough going on that you will not notice a repeat. We could also try rotating by 180 degrees and flipping the background container to get 6 more variations.

Flip: `transform: scaleX(-1);`
Rotate: `transform: rotate(180deg);`

[2017-06-12 12:27] mingard commented on #219
@abovebored Good shout. We'll add these now - thank you.

[2017-06-13 08:37] #219 closed

[2017-06-13 08:39] #165 closed

[2017-06-13 14:03] #257 closed

[2017-06-13 14:48] mingard commented on #168
@abovebored I have added the indeterminate checkbox as suggested. All that's left is finding a place for the "You have {selectedCount} other documents selected" to alert the user of other selected documents on other pages of the current collection. Gmail doesn't actually do this, and perhaps its not required. It does seem like a useful feature to have, especially when trying to avoid deleting docu

[2017-06-13 14:53] #253 closed

[2017-06-14 17:29] mingard opened #265 "Change package name"
Inline with the other dadi microservices, the npm module name should change from `publish` to `@dadi/publish`.

The added complication here is that previous attempts to do this caused errors when running as a git npm module dependency in another app.

e.g.

[code]

[2017-06-14 17:30] mingard commented on #249
mangling no longer a requirement

[2017-06-14 17:30] #249 closed

[2017-06-15 10:42] #244 closed

[2017-06-16 15:16] eduardoboucas commented on #211
^ This has been added to `api-wrapper` and `api-wrapper-core` 🎉

[2017-06-19 16:02] #210 closed

[2017-06-19 16:02] #211 closed

[2017-06-20 07:53] #135 closed

[2017-06-20 09:49] eduardoboucas opened #269 "Document user store"
Some of the properties in the user store are not documented.

📖 📖 📖

[2017-06-21 10:42] jimlambie commented on #265
Any indication what errors it caused?

[2017-06-22 08:52] #269 closed

[2017-06-22 12:35] mingard opened #273 "Build errors"
Initial build causes some errors to throw in console.

### Steps to reproduce
- Run watch
- Once built, observe no errors loading documents
- Remove bundle.js
- Run build
- Once built, observe errors loading documents

[code]

[2017-06-22 13:24] eduardoboucas opened #274 "Merge back-end and front-end constants"
At the moment we have a constants file in `app/lib/constants.js` and another one in `frontend/lib/constants.js`. It would be great to merge these together, as often times we'll need to refer to the same constant in both the back-end and the front-end. It could live in the base directory.

Worth noting that the current front-end constants file is using ES6 imports, which Node.js doesn't support. On

[2017-06-22 13:46] eduardoboucas commented on #273
I followed those exact same steps, but still unable to replicate the issue.

[2017-06-22 15:50] mingard commented on #273
Closing as unable to replicate after upgrading npm v

[2017-06-22 15:50] #273 closed

[2017-06-23 09:05] eduardoboucas commented on #274
@mingard Any thoughts?

[2017-06-26 19:15] mingard opened #276 "First build fails"
When running as a dependency, the first run of post-install fails.

[2017-06-28 11:21] jimlambie opened #278 "Field settings with "display" property don't appear"
A field with publish settings which include a "display" property don't appear in the interface:

[code]

[2017-06-28 11:46] jimlambie opened #279 "Display collection name on index view"
There's no indication which collection you're currently editing:

<img width="634" alt="screen shot 2017-06-28 at 12 40 33" src="https://user-images.githubusercontent.com/116263/27635655-c8e0aa80-5bff-11e7-8930-aecda496ce83.png">

[2017-06-28 11:48] eduardoboucas commented on #278
@mingard This might be one for you, as you worked on this piece?

[2017-06-28 13:17] mingard commented on #278
What is the field type? Some don't have list view right @eduardoboucas ?

[2017-06-28 13:18] eduardoboucas commented on #278
It's a `String`, apparently. The issue only happens when `display` is added to the `publish` block.

[2017-06-28 15:37] eduardoboucas opened #280 "Add support for custom environments"
In line with https://github.com/dadi/web/issues/184.

[2017-07-03 09:03] eduardoboucas commented on #279
I think this one needs some guidance from @abovebored.

[2017-07-05 06:13] ikaikahussey opened #284 "Docs"
Hi --

Looking forward to trying Publish out but the docs are 404. Is there a better link? Thanks!

[2017-07-05 07:24] mingard commented on #284
@ikaikahussey Sorry for the trouble you've had with the docs and the 404 message. I'll make sure that link is removed from the README.

In terms of Docs, there is a docs directory in this repository which should help explain the component architecture as well as some of the key concepts.

We're just building in some tests. The next phase will be to add docs, which should happen soon.

If you'd lik

[2017-07-06 13:03] #278 closed

[2017-07-06 14:28] #265 closed

[2017-07-06 14:28] #276 closed

[2017-07-07 10:22] eduardoboucas opened #286 "Review legacy auth against API 4"
API 2.2.0 introduced a new format for custom errors in hooks, so the auth hook needs to be re-tested and possibly adjusted to reflect the changes.

[2017-07-10 09:06] mingard opened #287 "Saving new doc retains another documents content"
### Expected behavior

Saving a document should never show content from another document.

### Actual behavior

In some instances, saving a second document can briefly display content from a previously saved document.

### Steps to reproduce the problem

- Open a collection list view (In the case of testing, it was empty)
- Navigate to a new document
- Create a new document
- Save new document
- N

[2017-07-10 09:31] mingard opened #288 "Sort field type"
## Overview
Introduce drag-and-drop table reorder for sorting documents, for example chapters.

## Conditions
- When a field is `Number` and `publish.subType` is `order`
- When the current `sortBy` is a field in the document with aforementioned requirements

@abovebored we may need some designs for the appearance of a dragging list document.

[2017-07-18 10:27] #287 closed

[2017-07-19 07:43] #284 closed

[2017-07-19 08:30] mingard commented on #274
@eduardoboucas If there is significant crossover, or we can project there will be, then this makes sense.

[2017-07-19 12:39] mingard opened #290 "GA tools"
Gathering meaningful traffic analytics could be useful with the live demo instance of Publish.
- Add GA block to config
- App to handle events

[2017-08-02 14:29] jimlambie opened #293 "Mobile: select Reference document button missing"
When using a mobile device, there is no "OK" button when selecting a Reference document

[2017-08-02 14:50] jimlambie opened #294 "Allow configurable monitor duration"
Include possibility to enable/disable, default = "disabled"

[2017-08-02 17:42] mingard opened #295 "Incorrect socket port when SSL is enabled"
### Expected behaviour

Socket should connect on page load.

### Actual behaviour

Socket is unable to connect, due to incorrect port.

### Fix

Alter the port behaviour to acknowledge the existence of an ssl certificate and change to 443 accordingly.

[2017-08-03 08:21] mingard commented on #294
fixed by https://github.com/dadi/publish/pull/296

[2017-08-03 14:21] #294 closed

[2017-08-03 14:21] #295 closed

[2017-08-09 09:38] mingard opened #299 "Support for modular components"
## Overview
As it is often the case that projects require custom fields and other client specific functionality, we must find a way to support building these into the webpack bundle process.

## Spec
- Workspace directory to contain `fields`
- Build process to include workspace directory
- Watch running at all times for rebuild
- Move assets into workspace directory when running as module

@eduard

[2017-08-09 09:49] mingard opened #300 "Reference document editing"
As API now fully supports Reference document creating/editing Publish must support this with the following:
- [x] Reference url structure
- [x] Create multiple new Referenced documents (url format: `/:referencedCollection/new/:pos`)
- [ ] Handle all image upload prior to save

@eduardoboucas can you see anything missing here?

[2017-08-09 11:09] mingard opened #301 "Handle Insecure API calls when Publish is running on SSL"
Ajax requests when Publish is running securely but API is not will fail. This happens when POSTing images over ajax from the frontend app.

Our options:
- Don't allow any API that is running insecurely when Publish is secure
- Allow insecure APIs, but limit ajax requests with a warning

Thoughts @jimlambie @eduardoboucas @josephdenne?

[2017-08-10 11:58] mingard opened #303 "Improve method for editing Referenced documents"
Currently we store the local and remote parent document in state. Changes to local are applied to local on change, and to remote on save.
Editing a document that is already referenced should be fine, because we already have it as part of the parent document e.g.

[code]

If a user has not selected any Referenced documents, but has transitions from Parent > referencedDocuments (List view) > referen

[2017-08-10 14:01] mingard commented on #290
completed in https://github.com/dadi/publish/pull/302/commits/768c928cb218e89a9772417008ae10bd2053c8f9

[2017-08-14 10:23] mingard opened #304 "Replace postinstall with prepublish"
By moving the build process from postinstall to prepublish we can reduce the amount of dependencies in the package, and reduce install time by removing the build process from install.

Thoughts?

[2017-08-14 15:09] mingard commented on #303
As per discussion with @eduardoboucas:

- All changes are to be stored in a single tree
- The creation of a sub document will always add in an empty object in either a new or existing array
- Cancelling changes will remove this object from the array
- Making changes to a sub document, itself referenced in a _new_ sub document will only be possible once the document has been selected.
- Removal of

[2017-08-15 11:26] mingard opened #305 "Navigation z-index above menu"
When the top level nav extends to a second row, the menu for the first row becomes unusable.
<img width="347" alt="screenshot 2017-08-15 12 24 56" src="https://user-images.githubusercontent.com/1352469/29314185-d6fe9034-81b4-11e7-94bd-015941f1024d.png">

[2017-08-15 13:38] mingard opened #306 "Add media requirements to docs"
Notes on media fields:

[code]

Notes on API settings requirements:
[code]

[2017-08-17 09:06] mingard opened #307 "Reference document edit view"
I've been looking at the referenced document selection process and have come across a couple of issues:

## 1. Selected media isn't always obvious
<img width="723" alt="screen shot 2017-08-17 at 09 52 26" src="https://user-images.githubusercontent.com/1352469/29404029-e31e2fd6-8331-11e7-8fd1-0690df7b2e34.png">
The checkbox is elegant, but it's very difficult to see from a glance which images have

[2017-08-18 07:08] josephdenne commented on #307
Some clear ideas on this front. Will post a sketch or two later today.

[2017-08-18 07:41] mingard opened #309 "Instant reference saving"
## Overview
As per discussion with @josephdenne regarding the process of selecting referenced documents, the existing view which requires confirmation will be changed to instant update, in line with all other document fields.

## Requirements
- Remove 'nevermind, back to documents' button from sub-selection list view
- Change 'Add selected documents' to 'Continue'
- Update localstore as changes ar

[2017-08-21 08:07] mingard commented on #307
Summary of the discussion:
- Toggle causes some issues when working in conjunction with filters and makes the view mixed purpose.
- Working concept is to introduce a sidebar as soon as documents are selected, showing a list of all selected documents.

[2017-08-22 07:39] #280 closed

[2017-08-22 07:43] #290 closed

[2017-08-22 07:45] mingard commented on #286
@eduardoboucas have you been able to test this? What do we need to look out for?

[2017-08-29 10:36] mingard opened #311 "Write tests for frontend js"
Coverage to include:

- [x] lib/util/array
- [x] lib/util/index
- [x] lib/util/string
- [x] lib/util/url-helper
- [x] lib/util/validation
- [ ] lib/analytics
- [ ] lib/api-bridge-client
- [ ] lib/collection-lookup
- [ ] lib/constants
- [ ] lib/datetime
- [ ] lib/document-routes
- [ ] lib/field-components
- [ ] lib/fields
- [ ] lib/keyboard
- [ ] lib/local-storage
- [ ] lib/redux
- [ ] lib/router
-

[2017-09-04 09:33] mingard opened #313 "Component registry"
As part of the requirements for extendible field types, build support for component registration.

Registration would allow components to be registered by type, with any further parameters specified.

[code]

Registry to be accessible within all components, possibly as parameter.

Custom components to be registered as part of project index, e.g.

[code]

[2017-09-15 16:05] mingard opened #314 "Proptype checks"
The FE components have a number of checks on properties that could be removed and supplemented with a propType check.

There are also some conditional checks for required properties that could be superseded with the introduction of the `isRequired` proptype chain, e.g.

[code]

[2017-09-19 15:06] jimlambie opened #315 "Deprecated packages"
Installing latest from master gives console output about deprecated packages. Can we remove any of these?

[code]

[2017-09-19 18:59] mingard commented on #315
@jimlambie I'll test all and update.

[2017-09-21 11:11] eduardoboucas opened #316 "Apps hangs if API is unresponsive"
### Expected behavior

An error message should be displayed if the connected API is unresponsive

### Actual behavior

The app hangs

### Steps to reproduce the problem

Load the app with an API that is offline

### Package details

Latest version

[2017-09-23 09:43] mingard opened #317 "Component extension registry concept: batch actions"
Field components should be able to subscribe to a variety of placements.

Example: a Boolean field `published` exists in the collection schema.
On document list view, batch action should include 'Set published to true' and 'Set published to false'.

Note: An extension of the component registration process outlined here https://github.com/dadi/publish/issues/313

[2017-09-25 16:36] eduardoboucas opened #318 "FieldDateTimeFilter/FieldNumberFilter not working"
Screencast: https://dadi.slack.com/files/U0DM542GJ/F78ELT34L/fielddatetimefilter_weirdness.mov

Also, the `<select>` needs to be updated to include the `value` prop, as opposed to using `selected` in the individual `<option>` nodes.

[2017-09-27 14:26] eduardoboucas commented on #318
@mingard The problem is also visible in `FieldNumber`. Tests on that part of the component are blocked by this issue.

[2017-09-27 14:28] eduardoboucas commented on #318
Not sure if this helps, but [here](https://github.com/dadi/publish/blob/04a4133c6963fb62734d07ea582dea2ca820f75d/frontend/components/FieldNumber/FieldNumberFilter.jsx#L102) we seem to be enforcing that `event.target.value` must be a number, which isn't the case when you're changing the filter type.

[2017-09-27 17:24] eduardoboucas opened #319 "Label component should not inject props to any type of child"
`<Label>` is injecting props (e.g. `id`, `inLabel`) to children, so that nested `<TextInput>` fields behave as expected without needing any additional props. But it's also injecting these props to components like `<div>` and others, which stinks!

[2017-10-04 16:26] mingard opened #321 "DateFieldFilter fails to validate"
### Expected behavior

Standard date format should be valid

### Actual behavior

Date returns invalid

### Steps to reproduce the problem

1. Add logging here:
https://github.com/dadi/publish/blob/master/frontend/components/FieldDateTime/FieldDateTimeFilter.jsx#L112

[code]

2. Add a date filter in document list view
3. Observe that `newDate.isValid()` is false. It appears that There is a potenti

[2017-10-05 16:26] mingard opened #322 "Required number fields are not highlighted"
Field with type number, with required set to true are not highlighted when empty and save is still allowed.

[2017-10-05 19:24] mingard opened #323 "Boolean field ignores readonly value"
The publish block property `readonly` is ignored by the boolean field. It is possible to change the value and save.

[2017-10-09 09:30] mingard opened #324 "Searchable flag on Reference fields"
### Context
Publish currently makes the assumption that when editing a Reference field, the use wishes to be presented with all available documents in the setting defined Reference collection. In the case of media this is true, as media is a reusable library.

In some circumstances the reason for using a Reference field is because the complexity of the Reference document is too complex to display

[2017-10-09 10:00] mingard opened #325 "Add edit button to Reference document list"
For a Reference field, each item should show an _edit_ button which will take the user through to that document to edit it.

[2017-10-10 10:36] jimlambie opened #326 "Provide friendly error for incorrect login"
When logging in with incorrect email + password, the sign-in screen shows "Authentication API Unreachable" - which is not strictly the case

This error is output in the log (three times!)
[code]

[2017-10-10 10:44] abovebored commented on #326
🤖

[2017-10-11 09:07] mingard commented on #318
Re `FieldNumber`, this has been resolved.

[2017-10-11 10:22] mingard opened #328 "Handle inaccessible media url"
In some circumstances the hostname set in config is local to the machine. This means that all operations that are handled by the server app still work, but ajax calls such as media upload do not.

**Example config**
[code]

Publish should handle this issue with a _resource unreachable_ warning.

Relates to https://github.com/dadi/api/issues/335

[2017-10-11 10:39] eduardoboucas opened #329 "Clean up after TextInputWithDatePicker"
- [ ] Ensure `propTypes` are all correct
- [ ] Refactor `FieldDateTimeEdit` to use the new component
- [ ] Move tests from `FieldDateTimeEdit` to `TextInputWithDatePicker`

[2017-10-11 11:44] #318 closed

[2017-10-11 12:32] mingard commented on #326
@jimlambie This has been fixed, but requires some changes in your API.

You'll need to replace the hook with this version https://github.com/dadi/publish/blob/master/scripts/api-install/hooks/publish-auth.js

The new version of Publish is not live on NPM yet, so you'll have to reference `github:dadi/publish`

[2017-10-11 12:32] #326 closed

[2017-10-12 16:23] mingard commented on #315
Some of these deprecation warnings relate to deep dependencies. I have updated all that I can for now.

[2017-10-12 16:23] #315 closed

[2017-10-12 16:24] #321 closed

[2017-10-12 17:24] jimlambie opened #332 "api-install failure"
From the docs: `NODE_ENV=development npm explore publish -- npm run api-install --configDir=xxx`

Fails with:

[code]

[2017-10-12 17:37] jimlambie opened #333 "Sign-in screen still visible after successful signin"
After entering a valid email address and password, the user is logged in but the sign-in screen is still shown.

Expectation is that the Welcome screen is shown.

[2017-10-12 17:39] jimlambie opened #334 "Passwords in plain text in logs"
Publish sends a GET request to API to retrieve a user matching the entered email address and password, but the password is plain text

[code]

[2017-10-12 17:43] jimlambie commented on #279
@mingard @abovebored I think we should bring this one back - it can't be that hard to display the current collection name?

[2017-10-12 17:45] mingard commented on #333
Confirming unable to replicate this @jimlambie - will leave the ticket here for now.

[2017-10-12 17:46] jimlambie opened #335 "Suggest different error message when API unavailable"
If the auth API isn't configured correctly (or indeed down), the error message says "http://x.x.x.x/token could not be reached"

Suggest that we hide the internals of this and simply say "API unavilable" ?

[2017-10-12 18:03] jimlambie opened #336 "Validation error display"
When saving an empty document, all required fields show a validation error, which is 👍

However, there are required fields in another tab - the tab is shown with a red dot but navigating to the tab reveals no fields with a red box+message. the first field _should_ have a red validation error, but does not.

From API log:

[code]

From browser:

<img width="210" alt="screen shot 2017-10-12 at 18 51

[2017-10-12 18:06] jimlambie opened #337 "Can't add first field as filter"
When click Add Filter, a dropdown appears with the list of fields for filtering on, with the first field selected. The Apply Filter button is not available until making a different field selection.

Browser: Firefox

<img width="511" alt="screen shot 2017-10-12 at 19 04 35" src="https://user-images.githubusercontent.com/116263/31511678-64a7a04e-af80-11e7-8c0d-f3aaf019bf3b.png">

[2017-10-12 18:07] jimlambie commented on #337
Looks like this is something to do with a date filter? I see other fields populate the predicate dropdown and have a value field...

[2017-10-12 18:09] jimlambie opened #338 "Overactive menu items"
See image... two menu items have been given the class "active" ... are the names too similar?

<img width="419" alt="screen shot 2017-10-12 at 19 08 55" src="https://user-images.githubusercontent.com/116263/31511856-ea6cac42-af80-11e7-9478-9e001838835e.png">

[2017-10-13 09:38] mingard commented on #338
@jimlambie strange. I can't replicate this.

What are the names of the collections?
Can you share the Publish menu settings block?

[2017-10-13 09:47] mingard commented on #337
@jimlambie Publish version?
The date filter seems to be working for me in firefox. There are some other issues with the table formatting though.

[2017-10-13 09:50] mingard commented on #322
Similar to https://github.com/dadi/publish/issues/336

[2017-10-16 08:15] #316 closed

[2017-10-16 10:55] #323 closed

[2017-10-16 13:50] #338 closed

[2017-10-16 13:51] jimlambie commented on #304
Just to note that `prepublish` events are being deprecated

[2017-10-16 13:52] mingard commented on #304
I didn't like them anyway.

[2017-10-16 13:52] #304 closed

[2017-10-16 13:54] jimlambie opened #342 "Make a more obvious "Select all""
The "Select all" checkbox in the list view needs to be more obviously "Select all"... could we make it a button, or give it a hover state/tooltip/title?

<img width="301" alt="screen shot 2017-10-16 at 14 49 00" src="https://user-images.githubusercontent.com/116263/31615536-c351f65e-b281-11e7-947b-09d277b40aad.png">

[2017-10-16 13:58] mingard commented on #342
@jimlambie Wrapping it in a button would work, as long as it still had an intermediate state.

@abovebored one to discuss during review?

[2017-10-16 14:02] jimlambie opened #343 "Unselected select boxes don't use the placeholder as the selected option"
I'm not sure how to explain it:

<img width="178" alt="screen shot 2017-10-16 at 14 59 54" src="https://user-images.githubusercontent.com/116263/31615877-f4d78c4c-b282-11e7-9aa4-d3c7fef50db7.png">
<img width="269" alt="screen shot 2017-10-16 at 15 00 00" src="https://user-images.githubusercontent.com/116263/31615890-f9d96f26-b282-11e7-8a34-428400103dee.png">

Browser: Chrome

[2017-10-16 14:06] mingard commented on #343
@jimlambie An out of focus select node doesn't display the selected value?

[2017-10-16 14:09] jimlambie commented on #343
Correct. Or - are you giving me the explanation?

[2017-10-16 14:10] mingard commented on #343
No, just making sure we're on the same page. I'll look into this.

[2017-10-16 14:12] jimlambie commented on #343
@mingard it's not really a selected value. It's a select box with no selected options, that looks as if it has a placeholder which should be displayed

[2017-10-16 15:08] mingard commented on #343
@jimlambie it was just a missing value on the default option.

[2017-10-16 20:00] #343 closed

[2017-10-17 12:12] mingard commented on #333
Able to replicate this, but only when build process is still active. Closing, but please reopen if you're able to replicate again @jimlambie.

[2017-10-17 12:12] #333 closed

[2017-10-17 13:14] jimlambie opened #346 "Field hint/explanation text"
When rendering form elements could there be "hint text"? API fields have a "comments" property which could be used for this purpose.

Example:

<img width="273" alt="screen shot 2017-10-17 at 14 10 54" src="https://user-images.githubusercontent.com/116263/31666800-687539e8-b345-11e7-8e5b-80d16d88d2f0.png">

[2017-10-17 15:42] #322 closed

[2017-10-17 18:22] mingard opened #348 "Support multiple referenced images"
It is currently possible to select multiple reference images, but not possible to then edit, select and deselect images.

[2017-10-18 15:19] mingard opened #349 "Wildcard string search based on API support"
Currently we have a _contains_ option with string fields. Regex searches are potential resource-intensive, and could increase response time from API.

The new search feature in API addresses this issue.

Only allow _contains_ string searches if API supports search.

[2017-10-18 21:50] mingard opened #350 "Document save incorrect message"
When saving a new document, two incorrect operations happen:

1. A _Document has been deleted_ message appears
2. The user is taken back to the list view

[2017-10-18 21:51] mingard opened #351 "Local store incorrectly cleared"
When creating a new document (and I suspect editing an existing) all local stored changes to the document are wiped when the user navigates to a field Reference list view.

[2017-10-19 13:06] #350 closed

[2017-10-19 13:06] #351 closed

[2017-10-19 15:26] #328 closed

[2017-10-19 15:44] mingard opened #354 "Websocket - attempt public url first"
Currently websocket attempts to use the current base url, with the server port.
- Introduce publicUrl inline with other services
- Use publicUrl.host and publicUrl.port by default for websocket
- Fallback to server.host and server.port

[2017-10-21 18:34] jimlambie opened #355 "Firefox displays plain text response"
With following console error:

[code]

[code]

[2017-10-23 10:09] mingard commented on #334
@jimlambie What would be your preference here?

[2017-10-23 10:12] mingard commented on #309
@abovebored one to keep in mind when designing Reference edit views

[2017-10-23 10:12] jimlambie commented on #334
@mingard perhaps a query by email address only, then compare the supplied password with a stored hash within Publish once a user result has been obtained?

[2017-10-23 10:14] mingard commented on #334
@jimlambie I'd like to avoid bringing any of the password hashing logic into Publish.

[2017-10-23 10:15] jimlambie commented on #334
Why? It's a simple operation. Why do we need to rely on the connected API to handle it?

[2017-10-23 10:17] mingard commented on #334
Because Publish isn't supposed to handle the creation of Password hashes, or any other data logic, regardless of simplicity. Auth is entirely handled by API, hence the need for a connection.

[2017-10-23 10:18] mingard commented on #334
We could potentially change from `GET` to `POST`. This would be a breaking change, as the accompanying hook in API would need to change.

[2017-10-23 11:06] #355 closed

[2017-10-23 14:24] #354 closed

[2017-10-23 16:01] mingard commented on #335
@jimlambie after further looking into this, I think we need to consider a slightly more detailed explanation, including the reason.
- Incorrect credentials
- Unreachable

[2017-10-23 20:48] #335 closed

[2017-10-25 11:42] mingard opened #357 "Integrate @dadi/boot"
replace the existing startup text with @dadi/boot

[2017-10-29 17:32] mingard opened #358 "Introduce @dadi / CDN"
- [ ] Add credentials to config
- [ ] Load from CDN if credentials exist

[2017-11-01 08:29] #332 closed

[2017-11-02 09:23] mingard opened #359 "Obscured date picker"
If the date picker field is towards the bottom of the page, it can be obscured by the footer.

<img width="307" alt="screen shot on 2017-11-02 at 09_22_48" src="https://user-images.githubusercontent.com/1352469/32318550-83c1a5f8-bfaf-11e7-817a-792010ba620e.png">

[2017-11-02 18:22] mingard opened #360 "Add sorting to menu"
Menu items should be sorted by array position. Currently they are rendered based on API order.

[2018-02-01 13:56] mingard opened #361 "Image corruption"
We've had reports of regular image corruption on upload. More investigation is necessary to determine whether Publish or API are the cause.

![screen_shot_2018-01-16_at_11 12 15_am](https://user-images.githubusercontent.com/1352469/35682087-7bf82264-072d-11e8-809c-49dd87370231.png)

[2018-02-22 20:03] jimlambie opened #362 "Message "API failed to respond" when API collection schema is invalid"
Publish fails here https://github.com/dadi/publish/blob/master/app/lib/helpers/collection-routes.js#L145 when an API collection schema Reference field doesn't include a "settings" object.

API should handle the validation for this, however Publish might also check for this property before accessing it.

[2018-02-23 10:07] abovedave opened #363 "Boolean field not passed as explicitly false"
### Expected behavior

When a Boolean field is saved, I expect the API to record `"value": false`. This means in a Web datasource you cannot filter on the value being false e.g., if the field was "Is Published? [true|false]

[code]

The work around is to use a mongo query:

[code]

### Actual behavior

The value is omitted from the API document (assume not passed because it's false).

### Steps to

[2018-02-23 16:41] mingard commented on #363
We deliberated over this a while ago, and concluded at that point that Publish should not be saving any fields that haven’t technically been altered. Technically a Boolean field that is `undefined` or `null` is falsy. `if (document.isPublished) {...}` would be a skipped conditional statement.

[2018-03-21 20:37] mingard commented on #363
Closing this issue as per previous comment.

[2018-03-21 20:38] #363 closed

[2018-03-21 20:40] mingard opened #365 "Validation still enforced when required flag is falsy"
The following field struct includes validation, but does not explicitly force the field to be set. Validation rules running on the field are still enforced and block the save action, as well as displaying an error on the field container.

[code]

[2018-05-24 23:26] jimlambie opened #366 "Clarify use of CDN publicUrl"
There appears to be some confusion around the meaning of the configuration option `cdn.publicUrl`. Is there some documentation for this already live?

[2018-05-29 08:49] mingard commented on #366
@jimlambie none, but can be added. When API is setup to store in S3, a request for media only returns a path, so `publicUrl` serves as the missing hostname.

[2018-06-05 09:48] jimlambie opened #367 "Profile image save doesn't complete"
Adding an image to an author's profile doesn't save the image

Log data:

[code]

[2018-06-06 12:59] abovedave opened #368 "SSL socket support"
If you run Publish behind SSL (not using the build in SSL package), the browser sockets need a secure option.

[2018-06-06 13:02] abovedave opened #369 "Header spacing & alignment"
Right is ✅

<img width="856" alt="screen shot 2018-06-06 at 14 01 55" src="https://user-images.githubusercontent.com/649231/41039722-437e713c-6992-11e8-8de0-e5f8e9e6c57e.png">

[2018-06-06 13:04] abovedave opened #370 "Background pattern doesn't extend full height"
![screen shot 2018-06-06 at 14 03 37](https://user-images.githubusercontent.com/649231/41039820-83aa479a-6992-11e8-8a9e-7137f6e29741.png)

[2018-06-06 13:04] mingard commented on #368
You can already do this with:
[code]

[2018-06-06 13:06] abovedave commented on #368
cool, good to know. maybe we should make this match the other products? i.e., in the `server` block?

[2018-06-06 13:07] abovedave opened #371 "Dropdown nav size & spacing"
### Expected behavior

<img width="285" alt="screen shot 2018-06-06 at 14 05 30" src="https://user-images.githubusercontent.com/649231/41039937-df8253dc-6992-11e8-94ef-2b4bb346fafd.png">

### Actual behavior

<img width="266" alt="screen shot 2018-06-06 at 14 05 20" src="https://user-images.githubusercontent.com/649231/41039931-db70ae88-6992-11e8-8adb-22f016dca287.png">

[2018-06-06 13:07] abovedave commented on #368
also, documentation 😄

[2018-06-06 13:12] mingard commented on #368
The other apps use same approach, but also include transport security, nothing in the server block:
[code]

The reason `publicUrl` is required instead of just TS is that the access to the server is from the frontend, and needs a publicUrl value. The FE app could probably grab this from location.hostname and have `security.transportSecurity` passed in FE config. It could be used as a switch for WS

[2018-06-06 13:12] abovedave opened #372 "Collection sort order"
Is it possible to set a default per collection? (e.g., publish date descending) Or is this done in API schema?

[2018-06-06 13:13] mingard commented on #372
This is pulled from API schema to avoid adding any logic to Publish.

[2018-06-06 13:14] abovedave opened #373 "Document grid alignment when only 1 column"
<img width="232" alt="screen shot 2018-06-06 at 14 13 21" src="https://user-images.githubusercontent.com/649231/41040310-f7a234b8-6993-11e8-83ac-da066bf84cd6.png">

[2018-06-06 13:17] abovedave opened #374 "Reveal keyboard shortcuts"
<img width="167" alt="screen shot 2018-06-06 at 14 16 45" src="https://user-images.githubusercontent.com/649231/41040415-41e75cf6-6994-11e8-937e-739e15dd0128.png">

We had a tooltip in the prototype (perhaps have an option in the config to show these?), or we could do iOS style and have an overlay on each page:

![images duckduckgo](https://user-images.githubusercontent.com/649231/41040391-302fb45

[2018-06-06 13:22] abovedave opened #375 "Document index customisation"
Having customisable view options (e.g., thumbnail, vs list view),

* change which fields to shown (already done per collection but not in interface)
* different font sizes for different fields
* different placements of fields within cards
* choosing a 'lead image' field

etc

<img width="575" alt="screen shot 2018-06-06 at 14 20 58" src="https://user-images.githubusercontent.com/649231/41040669-f9

[2018-06-06 13:26] abovedave opened #376 ""Go to page" input"
### Expected behavior

<img width="431" alt="screen shot 2018-06-06 at 14 25 59" src="https://user-images.githubusercontent.com/649231/41040877-8fbf4b22-6995-11e8-9ff5-33d95f46f225.png">

### Actual behavior

<img width="464" alt="screen shot 2018-06-06 at 14 25 31" src="https://user-images.githubusercontent.com/649231/41040886-94d22b7a-6995-11e8-9bd9-503e08a2204d.png">

[2018-06-06 13:29] abovedave opened #377 "Ability to hide document section tabs when only one"
Or could be the default behaviour not to show if only one?

### Expected behavior

<img width="289" alt="screen shot 2018-06-06 at 14 29 03" src="https://user-images.githubusercontent.com/649231/41041060-fe695f5e-6995-11e8-97ea-39a4d46668dc.png">

### Actual behavior

<img width="360" alt="screen shot 2018-06-06 at 14 28 36" src="https://user-images.githubusercontent.com/649231/41041072-0337c61a-6

[2018-06-06 13:32] abovedave opened #378 "Delete confirmation box text size and spacing"
* Button sizing
* Element spacing
* Font size
* Font weight

### Expected behavior

<img width="271" alt="screen shot 2018-06-06 at 14 31 08" src="https://user-images.githubusercontent.com/649231/41041190-5a4f1f2a-6996-11e8-9828-ab8cef5f90a5.png">

### Actual behavior

<img width="311" alt="screen shot 2018-06-06 at 14 30 48" src="https://user-images.githubusercontent.com/649231/41041195-5d47de9c-

[2018-06-06 13:34] abovedave opened #379 "Document save options drop-down: remember previously selected"
<img width="259" alt="screen shot 2018-06-06 at 14 33 14" src="https://user-images.githubusercontent.com/649231/41041300-929d798a-6996-11e8-8321-6a69117bda59.png">

### Expected behavior

Per-user remember the previous state of this button - handy when bulk entering data.

### Actual behavior

Always reverts to "save and continue"

[2018-06-06 13:37] abovedave opened #380 "Document field select area"
### Expected behavior

Select anywhere in the field to focus it and show text cursor for that area indicating this.

### Actual behavior

<img width="609" alt="screen shot 2018-06-06 at 14 36 26" src="https://user-images.githubusercontent.com/649231/41041506-2c0a0c00-6997-11e8-9018-82666b1f7c4a.png">

Only this area causes selection

[2018-06-06 13:41] abovedave opened #381 "Expand on grid layouts"
Multiple variations of grid layouts & field sizes should be an option, MVP is currently sidebar (33%) and main (66%).

[2018-06-06 13:44] abovedave opened #382 "Document row select area"
<img width="619" alt="screen shot 2018-06-06 at 14 43 12" src="https://user-images.githubusercontent.com/649231/41041819-0b6d9a7e-6998-11e8-9cbe-8ec58a835880.png">

### Expected behavior

Whole row is selectable (except links)

### Actual behavior

Only the checkbox is selectable

[2018-06-06 13:46] abovedave opened #383 "Checkbox/bool field adjustments"
### Expected behavior

<img width="464" alt="screen shot 2018-06-06 at 14 45 17" src="https://user-images.githubusercontent.com/649231/41041909-41463e44-6998-11e8-967c-5aae7dcecfd5.png">

- [x] adjust padding
- [x] hover state (text black)
- [x] whole box is hit area
- [x] use cursor: pointer

[edit: added checkboxes]

### Actual behavior

<img width="336" alt="screen shot 2018-06-06 at 14 44 18"

[2018-06-06 13:49] abovedave opened #384 "Textbox view options"
### Expected behavior

* [ ] Box is always full browser height

![screen shot 2018-06-06 at 14 48 04](https://user-images.githubusercontent.com/649231/41042078-a7e5c6ba-6998-11e8-8a36-818f334ec3f9.png)
![screen shot 2018-06-06 at 14 48 11](https://user-images.githubusercontent.com/649231/41042081-a9f9703c-6998-11e8-8407-843844b60ab2.png)

* [ ] Fixed number of rows
* [ ] Fit to content

### Actual

[2018-06-06 13:58] abovedave opened #385 "Media collections"
### Expected behavior

Be able to view media collection and edit/delete/add files (image to start?)

![screen shot 2018-06-06 at 14 57 49](https://user-images.githubusercontent.com/649231/41042613-0518b7e2-699a-11e8-8fe7-75f71b3a84ee.png)

### Actual behavior

You cannot see any media collections

[2018-06-06 14:01] abovedave opened #386 "Configurable background image on login screen (and logo?)"
Is this documented?

[2018-06-06 14:04] abovedave opened #387 "Markdown field"
This may have a dependency on the work need to make fields as plugins:

<img width="664" alt="screen shot 2018-06-06 at 15 03 08" src="https://user-images.githubusercontent.com/649231/41043008-e4869eee-699a-11e8-922e-e59ea4e8bdb8.png">

[2018-06-06 14:06] abovedave opened #388 "Can't scroll mobile menu on welcome page"

[2018-06-06 14:14] abovedave opened #389 "Make FieldString handle array of strings"
A field which can have multiple rows of content added

[code]

[2018-06-06 14:48] abovedave opened #390 "Navigation options"
One-size fits all navigation solution is tricky, should we be looking at a list style nav as a config option? Position options (top, right, left, bottom), size, colour adjustments, hiding of the header etc).

[2018-06-11 09:30] abovedave commented on #372
Publish seems to ignore the API schema, see #133

[2018-06-11 09:32] abovedave opened #391 "Document field previews"
The filename would be useful to start, perhaps also a thumbnail preview, file type icon could be added

<img width="472" alt="screen shot 2018-06-11 at 10 31 19" src="https://user-images.githubusercontent.com/649231/41223786-b1421e3e-6d62-11e8-913f-aee4035700a5.png">

[2018-06-11 10:07] mingard commented on #372
Ah I see. Okay, should be a quick fix.

[2018-06-11 14:24] abovedave commented on #389
Possibly related (ordering): #288

[2018-06-11 16:42] danwdart opened #392 "Not specifying correct database here can cause non-authenticated-properly errors"
If users already a collection in another database, it's possible a cached collection handler can be returned here - not specifying the correct database here can cause non-authenticated properly errors.

https://github.com/dadi/publish/blob/5dbb4fb7a2e3e3606de7b710812faa169d93c86c/scripts/api-install/hooks/publish-auth.js#L204

The caching in the collection handler is here:
https://github.com/dadi/

[2018-06-12 08:51] paulrgn opened #393 "Alignment on image upload screen"
Please review and if necessary adjust layout of image upload screen (http://publish.dadi.cloud/content/images/new). Is the placement of 'Drop files to upload or' and
'Select from device' as intended?

[2018-06-12 08:52] paulrgn commented on #393
<img width="1432" alt="screen shot 2018-06-12 at 09 43 49" src="https://user-images.githubusercontent.com/4246879/41280190-424080c4-6e26-11e8-873a-6a5726b87601.png">

[2018-06-12 08:53] paulrgn opened #394 "Adjust default sort order for articles index"
### Expected behavior
Articles index (http://publish.dadi.cloud/articles) shows newest articles first by default

### Actual behavior
Shows oldest articles first

### Steps to reproduce the problem
Visit http://publish.dadi.cloud/articles

### Package details
n/a

[2018-06-12 08:55] jimlambie commented on #394
Related to https://github.com/dadi/publish/issues/372

[2018-06-12 08:55] paulrgn commented on #394
@abovedave is this a duplicate of https://github.com/dadi/publish/issues/372?

[2018-06-12 08:56] paulrgn commented on #394
@jimlambie great minds...

[2018-06-12 08:56] eduardoboucas commented on #394
Hey, is this a duplicate of #372?

(Sorry.)

[2018-06-12 13:52] danwdart opened #395 "Plugin architecture"
Place to discuss the plugin architecture

Based on: https://www.netlify.com/blog/2017/06/20/extending-netlify-cms-part-one-custom-widgets/

[todo]

[2018-06-12 13:54] danwdart opened #396 "Implement API ACL"
Could use @dadi/api-wrapper through an isomorphic fetch.

[2018-06-12 14:03] eduardoboucas commented on #396
Could you expand a bit on this one?

Not sure if this is what you're referring to, but we currently don't have server-side rendering for the UI components. It's something we discussed, but ultimately we felt that the potential performance gains weren't important enough to justify the added complexity.

We use API wrapper extensively in Publish to form any API queries ([`@dadi/api-wrapper-core`](ht

[2018-06-12 14:09] danwdart commented on #396
I understand the first point.
I see what you mean about the second point - so that we would just need to change the destination and add the auth headers - seeing as we're already using api-wrapper-core.

[2018-06-12 14:11] danwdart commented on #396
Yes, I believe it's this one - https://github.com/dadi/publish/blob/master/frontend/lib/api-bridge-client.js - it should hit the API itself this time.

[2018-06-12 14:41] abovedave commented on #393
Here's a new design we can try:

![artboard](https://user-images.githubusercontent.com/649231/41297456-11d75b48-6e57-11e8-8625-a417dd95ea0b.png)

Part of this is also #373

[2018-06-14 13:59] danwdart commented on #396
This would probably require exposing an access token to the frontend code - if not a whole new pair of credentials - will try out this working before ACL

[2018-06-14 14:05] eduardoboucas commented on #396
The idea with the new ACL piece is that each Publish user will have their own client ID+secret pair in API, so Publish will be able to request a bearer token on their behalf (by pinging the `/token` endpoint in API). The resulting bearer token will then be used by the front-end application to communicate with API directly.

[2018-06-14 14:32] danwdart commented on #396
Yep awesome that's what I'm looking into atm

[2018-06-14 14:38] eduardoboucas commented on #396
Bear in mind this doesn't exist in API yet. It will be released as 4.0 RC1 probably tomorrow, and I'm still writing the documentation as we speak. If you think it's easier to wait until the implementation is fully stable and documentation is available, it's totally fine to put this on hold and tackle something else in the meantime.

[2018-06-18 09:14] eduardoboucas opened #397 "Incompatibility with API data connectors other than MongoDB"
The document edit view expects a document ID in the URL, but [the regular expression](https://github.com/dadi/publish/blob/master/app/lib/helpers/collection-routes.js#L8) used by the router to detect it uses a format that is specific to MongoDB. When API uses a different data connector, like Filestore, the format will be different.

Either we find an expression that is generic enough to handle var

[2018-06-18 09:29] jimlambie commented on #397
As a simple modification, we could just make it "numbers, letters, hyphens"..... if API doesn't recognise the ID you'll get a 404 anyway, which is the same result as 404ing for an unknown format.

[2018-06-20 13:19] #397 closed

[2018-06-26 12:39] danwdart commented on #396
I'm continuing on here - what I did is create a client ID and secret field in Users and use that to request documents, optionally waiting for a token to be stored before doing so.

[2018-06-26 14:31] eduardoboucas commented on #396
Sorry, I'm not sure I understood that. In any case, I think it'd be useful if I shared what I had in mind for the Publish + API interaction with ACL in place.

When a user signs in to Publish, the details they entered will be sent to API (`/token` endpoint) to be exchanged for a bearer token. If it succeeds, the bearer token is stored somewhere in the client's machine (maybe a cookie, maybe local

[2018-06-26 15:44] danwdart commented on #396
I've made an initial commit for overriding the way we do most of that, which works for me at the moment, and it still needs 401 detection and saving of the token to localStorage.

[2018-06-26 16:08] danwdart commented on #396
Looks also like the logout endpoint still needs to revoke the token too.
What's the token revoke endpoint? I'm looking at api docs now.

[2018-06-26 16:11] danwdart commented on #396
The docs don't seem to specify but I'll try DELETE /token/{token}

[2018-06-26 16:14] danwdart commented on #396
Okay, that doesn't exist, probably needs creating explicitly

[2018-06-26 16:16] danwdart commented on #396
This RFC says we should probably add it to /revoke:
https://tools.ietf.org/html/rfc7009

[2018-06-26 16:22] eduardoboucas commented on #396
Why does the logout endpoint need to revoke the token? Can't we simply remove it from the client? (Btw, we should probably use a cookie rather than localStorage, because localStorage can be weird, particularly when browsing in private mode)

[2018-06-27 08:59] danwdart commented on #396
I think the difference between our approaches is that mine would fetch a new token every time the old one had expired. So that's why I didn't consider removing the token from the client. You're right, the client should keep one token as a "session", maybe later considering a "remember me" as fetching new tokens on demand.

So:

Login -> grab only one token and save to JS cookie, if 401, sorry your

[2018-06-27 09:13] eduardoboucas commented on #396
Exactly, that's what I'm thinking. I think for now it's okay to say that a session will only last as long as the bearer token does. Perhaps it would be nice if API allowed a configurable TTL per client, so you could have a longer TTL for a client that is expected to use their bearer token as a "session".

Your flow makes sense to me! 👍

Re: 403 vs. 401, API should take care of that. Under normal c

[2018-06-27 10:29] danwdart commented on #396
Cool, will head on with this way of thinking this afternoon.
I will also see if I can do TTL stuff, but in a different PR.

[2018-06-27 10:31] danwdart opened #400 "Configurable TTL for client session"
All TTLs seem to be set to 1800 (half an hour). Allow this to be configurable per client (ID and secret).

See:
https://github.com/dadi/publish/issues/396#issuecomment-400601732

[2018-06-27 10:31] danwdart commented on #400
This belongs on the API!

[2018-06-27 10:31] #400 closed

[2018-06-27 15:09] danwdart commented on #396
Integrating this into the Redux login stuff.
Not sure whether to set this cookie as a new Redux stored value as well, single point of truth and all that.

I think we go:

Login -> check user session with passport as usual, dispatch setRemoteUser, then fetch cookie.
Logout -> clear cookie

[2018-06-27 16:39] danwdart commented on #396
Currently the above happens - but I think I'm catching in a couple of wrong places. It works, but it refreshes upon login and logout a little much. It still debugs a bunch, and I'm unsure of the Redux dispatch logic where I've touched it.
I've added a few more logs where we fail - I think that some of the @dadi/api-wrapper-core code is incorrect, as it does not reject some fetch requests such as c

[2018-06-28 10:57] jimlambie commented on #28
There is a "comments" property in collection schema fields, I suggest this is what we display in Publish

[2018-06-28 11:05] jimlambie commented on #164
[input/wireframes from design team required]

[2018-06-28 11:12] jimlambie commented on #193
We show this when no documents. The other parts of this ticket could be made into new tickets if/when they are required.

<img width="504" alt="screen shot 2018-06-28 at 23 11 48" src="https://user-images.githubusercontent.com/116263/42030968-ad0e3e14-7b28-11e8-9d63-cf5fbda8b5f4.png">

[2018-06-28 11:12] jimlambie commented on #193
Closing until required.

[2018-06-28 11:12] #193 closed

[2018-06-28 11:16] eduardoboucas commented on #212
Moved to API. https://github.com/dadi/api/issues/450

[2018-06-28 11:16] #212 closed

[2018-06-28 11:20] eduardoboucas commented on #233
We'll get this rolling once https://github.com/dadi/api/issues/451 is in.

[2018-06-28 11:28] eduardoboucas commented on #288
It's probably worth discussing whether this is something we could built into API, as a new field type.

🍔 4️⃣ 💭

[2018-06-28 11:29] jimlambie commented on #299
See also https://github.com/dadi/publish/issues/395

[2018-06-28 11:30] #299 closed

[2018-06-28 11:31] eduardoboucas commented on #300
The only outstanding item here is captured in https://github.com/dadi/publish/issues/248. Closing.

[2018-06-28 11:31] #300 closed

[2018-06-28 11:32] jimlambie commented on #301
A warning to be covered in documentation, not in software. Closing/

[2018-06-28 11:32] #301 closed

[2018-06-28 11:35] eduardoboucas commented on #305
It needs investigation to assess whether it's still an issue. If it's not, please close!

[2018-06-28 11:37] jimlambie commented on #307
Requires design team input.

[2018-06-28 11:38] jimlambie commented on #309
Design team, it's like Christmas here.

[2018-06-28 11:40] #313 closed

[2018-06-28 11:40] #317 closed

[2018-06-28 11:41] eduardoboucas commented on #395
Related:

- https://github.com/dadi/publish/issues/299
- https://github.com/dadi/publish/issues/313
- https://github.com/dadi/publish/issues/317

[2018-06-28 11:42] jimlambie commented on #324
Design team to investigate

[2018-06-28 11:50] #334 closed

[2018-06-28 11:52] eduardoboucas commented on #334
Moved to Logger. https://github.com/dadi/logger/issues/59

[2018-06-28 11:52] #337 closed

[2018-06-28 11:53] #346 closed

[2018-06-28 11:55] eduardoboucas commented on #349
Waiting for search to be merged into API.

[2018-06-28 11:57] eduardoboucas commented on #360
Needs investigation to assess whether it's still an issue. If it's not, please close.

[2018-06-28 12:01] eduardoboucas commented on #362
Worth noting that since API 3.1, it's not mandatory that Reference fields include a `settings.collection` property, as they can reference multiple collections. More info here: https://docs.dadi.cloud/api/3.2#multi-collection-references

[2018-06-28 12:03] eduardoboucas commented on #365
This should wait for https://github.com/dadi/api/issues/451.

[2018-06-28 12:07] jimlambie commented on #371
Tasks:

 - [ ] tighten up spacing
 - [ ] highlight selected parent nav item (content & magazine in here)

[2018-06-28 12:08] #394 closed

[2018-06-28 12:10] jimlambie commented on #374
@abovedave make a decision buddy! blocked until crayons.

[2018-06-28 12:17] jimlambie commented on #384
@abovedave are you suggesting these options should be configurable?

[2018-06-28 12:20] eduardoboucas commented on #387
Could be configurable with a property in the `publish` block of each field.

[2018-07-02 15:54] danwdart commented on #383
[x] whole box is hit area

[2018-07-02 15:57] danwdart commented on #383
This is true of the checkbox - does it need to be so for the whole label box?

[2018-07-02 22:11] jimlambie commented on #383
I believe so - if the whole box is the hit area then it follows that the whole box should force a pointer? /cc @abovedave

[2018-07-03 13:31] eduardoboucas commented on #383
I agree, it's not the right approach. It's tricky. I came across a few situations like this in the past (can't remember which components exactly). Instead, could we make the inner component tell the parent that it needs a variation in styles?

[2018-07-03 13:36] danwdart commented on #383
Sounded worse to me, but might make sense if I've understood properly...

So we'd pass a parent function as a prop to the child, with a param which is an object of styles, I suppose?
Then upon CDM the child could say (or handler thereof) `this.props.updateParentStyle({cursor: 'pointer'})`? That would then re-render the parent and thus the child - so I suppose `updateParentStyle` could basically do

[2018-07-03 13:40] eduardoboucas commented on #383
It doesn't sound great, does it? Forcing the parent to re-render isn't ideal.

What other options do we have?

[2018-07-03 13:41] danwdart commented on #383
I'll look to see if at any point we always know higher up that we're going to be putting a bool in, and at that point add an extra style to the parent label? If we don't, we'll need a better approach, like a "AlwaysPointerLabel" or something.

[2018-07-03 13:43] eduardoboucas commented on #383
Sounds good. 👍 🎯

[2018-07-03 14:22] danwdart commented on #383
At the moment we always do know when we're about to pass a boolean, so I'll add an extra prop / class for it to Label and use it every time we do.

[2018-07-03 16:15] anaumovets opened #405 "Create new document not working"
When pressing _Create New_ button, empty interface is shown.
Top level collections work fine, this is only reproduced on nested collections
### Expected behavior
New document is created

### Actual behavior
Empty UI and console error:
[code]

### Steps to reproduce the problem
Press _Create New_ button
### Package details
Package version, operating system, etc

[2018-07-03 16:20] danwdart commented on #383
Don't know if it needs a transformation or anything but the hover's there now.

[2018-07-03 16:22] danwdart commented on #383
Seems to have been included in https://github.com/dadi/publish/pull/402

[2018-07-05 12:29] danwdart commented on #391
For file type icon, are we going to support a set list?

[2018-07-05 12:30] danwdart commented on #379
Should this be stored upon the user in the database, or should it only be localStorage?

[2018-07-05 12:32] abovedave commented on #391
https://fontawesome.com/ might be a good place to start

[2018-07-05 12:33] abovedave commented on #379
I think db so it persists across device and session?

[2018-07-05 12:37] eduardoboucas commented on #379
Worth noting that currently Publish doesn't store any metadata in API, so this is something that we need to consider and plan for carefully.

[2018-07-05 12:57] danwdart commented on #391
Yeah, I use that in my own stuff. What I meant was, should we just support everything in there, and then unknown for not in there, or should we support a subset?

[2018-07-05 13:09] danwdart commented on #379
I think therefore that this is a synced `PUT`/`GET` to `/${version}/${db}/users` from the... redux store, maybe?

[2018-07-05 13:19] eduardoboucas commented on #379
And who creates that `users` collection?

[2018-07-05 13:38] danwdart commented on #379
The users would already be there, it's the same users as one logs in using, the auth?

[2018-07-05 13:41] eduardoboucas commented on #379
We're getting rid of that authentication method in favour of ACL, remember? ☺️

[2018-07-05 13:58] danwdart commented on #371
Almost got this, just need to leave space for the emboldening so it doesn't redraw.

[2018-07-05 15:38] danwdart commented on #369
hmm.. I think this is that everything is about 2/3 as spaced

[2018-07-05 15:50] danwdart commented on #369
Do we want the hover background of the menu to have no margin - so as to end on the left of the screen?

[2018-07-05 15:56] danwdart commented on #369
![screenshot_20180705_165642](https://user-images.githubusercontent.com/334257/42334118-67129e68-8074-11e8-844b-4be95008213d.png)
I mean like this?

[2018-07-10 11:14] anaumovets opened #410 "Edit document not working when connected to API using filestore"
### Expected behavior
When clicking on a document in a collection - proceed to `/collectionId/documentId` and see a document editing interface

### Actual behavior
empty UI is shown

### Steps to reproduce the problem
connect a publish instance to the API as configured in this sample project:
https://github.com/dadi/publish-dev

### Package details
Package version, operating system, etc

[2018-07-10 11:23] anaumovets commented on #410
Details:
For example, when visiting `/web-services/b3618f0a-f72c-44b3-95a4-7f304384fa5d`
The routing identifies `b3618f0a-f72c-44b3-95a4-7f304384fa5d` as `collectionId`
and tries to list documents for that (nonexistent) collection.
Error trace:
[code]

If connected to API running on mongodb, collection and document are correctly identified.
(Note: I didn't manage to make the mongodb an exact repli

[2018-07-10 11:43] danwdart commented on #410
I'm also getting `Cannot set property 'path' of undefined` perhaps that is because the menu item exists, but the collection doesn't exist

[2018-07-10 14:05] danwdart commented on #367
I think that this is related to pushing the image data straight to the user without creating a media / image record first, which is what the generatePath hook expects.

[2018-07-10 14:08] danwdart commented on #367
I think that this should be accomplished by an upload step then an apply to user step as it would be if you chose your own image from existing.

[2018-07-10 14:08] danwdart commented on #367
However http://localhost:3001/content/images/new is giving me `Uncaught (in promise) TypeError: Cannot set property 'path' of undefined` again.

[2018-07-10 14:54] danwdart commented on #367
Having to move onto the routes ticket as it'll probably be required to fix this.

[2018-07-10 14:55] danwdart commented on #367
I'm coming across https://github.com/dadi/publish/issues/405 when trying to fix this. @anaumovets any progress on that one?

[2018-07-10 14:56] danwdart commented on #410
See also: https://github.com/dadi/publish/issues/405

[2018-07-10 14:56] danwdart commented on #405
Any luck with this? I think this blocks a couple of tickets. I'm coming across this and I think it's related to the routes being wrong and not taking the subcategory into account.

[2018-07-10 14:58] danwdart commented on #379
Of course, was a save place decided?

[2018-07-10 15:54] eduardoboucas commented on #379
Likely this: https://github.com/dadi/api/issues/453. Until then, this one is blocked. 🚫

[2018-07-11 13:41] abovedave opened #412 "Existing document fields overridden by saved draft"
### Expected behavior

Fields stay with their existing value.

### Actual behavior

Field is overridden by the value saved in a draft.

### Steps to reproduce the problem

1) Go to a collection
2) Hit 'Create new'
3) Type in a field
4) Go back to the collection in 1)
5) View an existing document
6) Observe the value of 3. is now in the corresponding 5. document field (although not saved at this st

[2018-07-11 14:08] danwdart commented on #379
Okay - nice thanks

[2018-07-11 14:11] danwdart commented on #386
I think this is a configuration file thing, would you agree?
[code]

[2018-07-11 14:17] jimlambie commented on #386
@danwdart yes, totally agree

[2018-07-12 16:44] #380 closed

[2018-07-13 08:34] #382 closed

[2018-07-13 08:54] eduardoboucas commented on #377
This is ready to be tested on the preview instance. @paulrgn

[2018-07-13 08:54] eduardoboucas commented on #369
This is ready to be tested on the preview instance. @paulrgn

[2018-07-13 08:54] eduardoboucas commented on #371
This is ready to be tested on the preview instance. @paulrgn

[2018-07-13 08:54] eduardoboucas commented on #370
This is ready to be tested on the preview instance. @paulrgn

[2018-07-13 08:55] eduardoboucas commented on #383
This is ready to be tested on the preview instance. @paulrgn

[2018-07-17 09:57] danwdart commented on #367
Let's see what we can do about this now that the ticket's fixed

[2018-07-17 09:58] danwdart commented on #405
I think this is fixed now right @eduardoboucas ?

[2018-07-17 10:00] eduardoboucas commented on #405
I believe so. @anaumovets can you confirm, please? You can test it on the preview instance.

[2018-07-17 10:04] anaumovets commented on #405
Yes, this works!

[2018-07-17 10:04] #405 closed

[2018-07-17 10:14] danwdart commented on #393
Would I need to take this one back and modify the drop target stuff?

[2018-07-17 10:15] abovedave commented on #393
I think let's make drop target a separate issue

[2018-07-17 11:32] danwdart opened #416 "File upload drop target issue"
### Expected behavior
Should be a way to drop files into a file upload

### Actual behavior
The drop target changes quickly and makes it difficult to drop

### Steps to reproduce the problem
Drop a file onto the drop target on an upload screen!

### Package details
`develop` branch once #393 is closed / #415 is merged

[2018-07-17 12:09] danwdart commented on #367
This is next for me

[2018-07-17 13:42] danwdart commented on #373
I think this requires approval of https://github.com/dadi/publish/issues/369

[2018-07-17 15:23] danwdart commented on #372
Not sure where I'm looking on this one - could someone maybe point me in the right direction?
I gather that when collections are fetched the render needs to include the default sort options from the collection fetched, I think related to `getCollectionForUrlParams` right?

[2018-07-18 12:57] #393 closed

[2018-07-18 12:59] eduardoboucas commented on #393
This is ready to be tested on the preview instance. 🔍

[2018-07-19 12:30] eduardoboucas commented on #286
The priority for this should be defined based on how/when we see implementation with API 4.0 (and ACL in particular) happening, as we will decommission the auth hook at that point.

[2018-07-19 14:03] danwdart commented on #361
I can't save images at all so I think I need to backtrack:

[code]

[2018-07-19 15:05] danwdart opened #419 "Cannot save after filling in fields after saving and getting a validation error"
### Expected behaviour
I am able to save after filling in required fields, after saving and getting a validation error

### Actual behaviour
I am blocked from being able to save after filling in required fields, after saving and getting a validation error.

### Steps to reproduce the problem
1. Create new document
1. Press save before filling in required fields
1. Get validation error, fill in req

[2018-07-19 15:07] danwdart commented on #336
I can't reproduce this one - has it been fixed? E.g. http://localhost:3001/content/pages/new/meta popped up the red dot on Details and going there showed me some red outlined fields

[2018-07-19 15:33] eduardoboucas commented on #336
@jimlambie Are you able to reproduce this on the preview instance, or provide a collection schema where it can be reproduced?

[2018-07-19 16:03] mingard opened #420 "Signin button grey/inactive when autofilled"
### Expected behavior

Sign in button should be active when fields are populated

### Actual behavior

Sign in button is grey. On desktop it changes when you click anywhere around it, but this does not resolve the problem on mobile browsers.

### Steps to reproduce the problem

Sign out, refresh page, observe autofilled credentials.

![screen shot on 2018-07-19 at 17_01_56](https://user-images.git

[2018-07-19 16:11] mingard commented on #361
@danwdart What sort are you testing with? To my knowledge, jpg is the only current supported format in Publish.

[2018-07-20 14:14] danwdart commented on #361
I was testing PNG just there, the output of a JPEG was
[code]

which looks slightly better.

However, we've still got a fail, so looking into why that could be.

[2018-07-20 14:55] danwdart commented on #361
Okay - on dev this worked, on the test instance it didn't, so I'm suspecting some kind of cross domain upload blocking, perhaps, or just not being up to date.

There also seems to be a difference between saving an uploaded image and saving a cache of a localStorage uploaded image - the filename has gone.

So it seems I'm given a URL in the JSON output of the uploader (good) but Publish renders thi

[2018-07-20 16:03] danwdart commented on #361
OK, everything uploads properly in images properly with the following fix:
https://github.com/dadi/cloud/pull/178

[2018-07-20 16:03] danwdart commented on #361
Now will see if I get the corruption by uploading a different image type.

[2018-07-20 16:07] danwdart commented on #361
Weird to see an upload of one image accepts multiple uploaded files - is this intentional?

[2018-07-20 16:10] danwdart commented on #361
PNGs seem fine too. Uploading a gif works fine, but then CDN's output is

[code]

Still can't get anything to glitch out like the above though. Sure it's not just a malformed source?

[2018-07-20 18:53] mingard commented on #361
@danwdart are you uploading two images to the same field at the same time. This is the only way to consistently see it.

[2018-07-23 09:45] mingard commented on #361
I found that if I used the same pictures as had previously updated okay, it didn't happen. I would go and find two new jpgs with unique names and try uploading at the same time. I also found that it happened more when API was local to publish, almost like some tmp file issue.

[2018-07-23 10:01] danwdart commented on #361
So, using filestore CDN rather than using S3 CDN made it happen for you? I have that setup so I can try this afternoon.

[2018-07-23 14:03] mingard commented on #361
I was using S3, but the machine running Publish was also running API.

[2018-07-23 16:01] danwdart commented on #361
Ah right - well I normally run API, Publish and CDN on the same machine
Let's see if I can properly reproduce this.

[2018-07-23 16:03] mingard commented on #361
I'd suggest deploying to an AWS instance too. I haven't tried to reproduce this on Unix or Windows.

[2018-07-23 16:55] danwdart commented on #361
I've used the default S3, did you mean to start and use an EC2?

[2018-07-23 18:15] mingard commented on #361
Currently I can replicated consistently when:
- Hosting on EC2
- Running API and Publish on the same instance
- Using S3 as a storage type

[2018-07-24 16:57] danwdart commented on #361
Just sorting out a server with Francesco to test this with.

[2018-07-24 17:01] danwdart commented on #361
I apparently will need VPN access

[2018-07-25 12:08] anaumovets commented on #376
Looks like this has been fixed somewhere along the way.
@abovedave please confirm and I'll close it.

[2018-07-25 16:01] anaumovets commented on #293
How do I get to the select reference document dialog?

[2018-07-25 16:30] danwdart commented on #361
Just sorting out this with filestore before I upgrade. Are there some S3 creds I can use?

[2018-07-26 09:31] danwdart commented on #373
Just confirming whether it was definitely approved, and then will unblock this

[2018-07-26 09:50] jimlambie commented on #336
@eduardoboucas @danwdart I cannot reproduce, let's consider it closed. Thanks!

[2018-07-26 09:50] #336 closed

[2018-07-26 10:02] #359 closed

[2018-07-26 10:05] jimlambie commented on #376
@anaumovets this one still looks to be an issue. Exactly _what_ the issue is remains unclear though!

I think the input field needs to be narrower, with the cursor aligned to the left. The text "Showing 1-10 of 40" should then no longer wrap to a second line.

[2018-07-26 10:13] jimlambie commented on #378
Reviewed and approved.

[2018-07-26 10:13] #378 closed

[2018-07-26 10:15] jimlambie commented on #370
Reviewed and approved.

[2018-07-26 10:15] #370 closed

[2018-07-26 10:16] jimlambie commented on #383
Reviewed and approved.

[2018-07-26 10:16] #383 closed

[2018-07-26 10:34] jimlambie commented on #377
Reviewed and approved.

[2018-07-26 10:34] #377 closed

[2018-07-26 19:03] jimlambie commented on #369
@danwdart  @eduardoboucas I think the only thing we're missing on this is a `font-weight: 700` on active menu items.

[2018-07-26 19:18] jimlambie commented on #371
@eduardoboucas @danwdart I can't see this change on http://publish-develop.eb.dev.dadi.technology/articles

[2018-07-26 19:19] #372 closed

[2018-07-26 19:31] jimlambie commented on #305
Ok, so it's resolved.

However, I'm not a fan of the text-shadow added to the parent nav item when the dropdown appears - it gives it a blurry effect?

[2018-07-26 19:34] jimlambie commented on #305
http://publish-fix-dropdown-nav-z-index.eb.dev.dadi.technology/

[2018-07-27 08:49] jimlambie commented on #367
@danwdart I believe the issue is that Publish sends fields in the payload that don't exist in the API collection schema - for example `_previewData`. This should be removed before posting to API.

[code]

[2018-07-27 10:12] danwdart commented on #305
Ah, so it reflowed and redrew when I used actual font-weight, making the container box a different size. We can't use static sizes, so I wasn't sure what to do other than this.

[2018-07-27 10:12] danwdart commented on #367
OK thanks will check this out

[2018-07-27 10:13] danwdart commented on #373
Did the other ticket fix this issue too then?

[2018-07-27 10:41] jimlambie commented on #305
@danwdart in that case, perhaps we leave it out. Let's keep the z-index change (👍 ) but remove the text-shadow change. Then we can release.

[2018-07-27 11:45] danwdart commented on #305
Okay cool.

[2018-07-27 11:51] danwdart commented on #305
I think the emboldening must be merged or on another branch because this PR only looks at the z-index now

[2018-07-27 11:57] danwdart commented on #369
I think we decided that was a different ticket now

[2018-07-27 12:46] #371 closed

[2018-07-27 12:47] #369 closed

[2018-07-27 15:00] danwdart commented on #361
How far did you get - was this fixed @mingard ?

[2018-07-27 15:01] #305 closed

[2018-07-27 15:01] danwdart commented on #373
Can this be closed then?

[2018-07-27 15:10] danwdart commented on #367
I'm finding that /profile is no longer a defined route - were the changes to routes detrimental to this effect perhaps?

[2018-07-27 15:12] danwdart opened #428 "Nicer 404s"
### Expected behavior
Going somewhere undefined should give me a nice error in the interface like "Sorry, couldn't find /my-nonsense-page"

### Actual behavior
Going somewhere undefined gives me a console error and backtrace:

[code]

and doesn't display anything in the interface.

### Steps to reproduce the problem
Go somewhere that doesn't exist

### Package details
develop branch

[2018-07-27 15:24] danwdart commented on #367
Just tried again and Publish sets the profile image to a nothing.

[2018-07-27 16:00] danwdart commented on #367
Uploading worked as long as I applied the config file fix, but selecting also makes the URL specified e.g.
http://127.0.0.1:3003/![](/media/2018/07/27/serveimage.jpeg) when it should be http://127.0.0.1:3003/media/2018/07/27/serveimage.jpeg - which is something that API did as part of a hook for making Markdown work, afaik.

The markdown work probably shouldn't affect "path" as it is.

[2018-07-27 16:14] danwdart commented on #367
The image picker also doesn't display the image, and sets a height of zero, seemingly by design, anyone know anything about that? I can't see images when I'm picking them.

[2018-07-27 16:15] danwdart commented on #367
Anyone know about the initial design of these components so I can avoid stepping on people's toes? Particularly the generatePath hook in cloud?

[2018-07-27 20:04] jimlambie commented on #361
Fixed in API 3.2.2 & 4.03

* 3.2.2: `npm i @dadi/api@three`
* 4.0.3: `npm i @dadi/api@latest`

[2018-07-27 20:04] #361 closed

[2018-07-28 07:07] mingard commented on #325
If at all possible it would be great to prioritise this one. Having to remove all selected referenced documents before updating is slow, and can sometimes requires taking note of the current selection in order to recreate.
<img width="515" alt="screen shot 2018-07-28 at 08 05 17" src="https://user-images.githubusercontent.com/1352469/43354061-febaa59c-923c-11e8-8917-771d3f091915.png">

[2018-07-28 21:04] jimlambie commented on #357
Closed by https://github.com/dadi/publish/commit/aa968f5eccfef4e6542e309b8b93a6f61d64b535

[2018-07-28 21:04] #357 closed

[2018-07-30 11:15] anaumovets commented on #360
Please confirm: the correct sorting should be the one specified in the publish config json file, not the order in which API sends it, right?

[2018-07-30 13:37] danwdart commented on #396
Has somebody taken over this one now, or just added it in?

[2018-07-30 13:38] danwdart commented on #367
Alright let's see about changing that, it makes a lot more sense

[2018-07-30 14:06] #376 closed

[2018-07-30 14:08] danwdart commented on #396
NB: @eduardoboucas took this over.

[2018-07-30 14:41] danwdart commented on #367
mediaStore doesn't seem to exist on cloud... what am I looking for here, creating a new one like images?

[2018-07-30 14:43] danwdart commented on #395
Is this considered completed by the above 3 tickets being closed / dupes?

[2018-07-30 15:41] #367 closed

[2018-07-30 21:16] eduardoboucas commented on #395
No, this is the main ticket for the plugin architecture. The 3 tickets above were referenced because similar discussions took place there and might contain useful information.

No movement has been made on the plugin architecture, as far as I know.

[2018-07-31 09:00] jimlambie opened #432 "Multi-language support for documents"
* In Publish, perhaps each field is displayed like so:

![artboard](https://user-images.githubusercontent.com/649231/40910104-2c4443ee-67e3-11e8-872c-5ae0e5ec1341.jpg)

![artboard copy](https://user-images.githubusercontent.com/649231/40910110-30866a86-67e3-11e8-9ef8-b482898b1a70.jpg)

[2018-07-31 09:26] danwdart commented on #395
Aha got you

[2018-07-31 14:41] eduardoboucas commented on #432
Me likes it.

[2018-08-01 10:06] danwdart commented on #386
What's the cleanest process for forwarding on data from the backend to the frontend, and do we have this functionality already? If I wanted to make a customisable CSS portion, would I use:

* Webpack dynamic import() in the JS, pointing to a css file driven by the backend
* <link> in the app view which points to the same css file driven by the backend
* inline styles rendered by the index view ren

[2018-08-01 13:04] danwdart commented on #73
Is this something that was included in 4.1.0?

[2018-08-01 13:18] jimlambie commented on #73
@mingard correct me if I'm wrong but this is more about translated interface elements?

[2018-08-02 10:04] lshchur opened #435 "Ensure fields are rendered if optional schema properties are missing"
Re: https://github.com/dadi/publish/blob/6ffe829feefee5a0202ae5926fa502c75fa9b92e/frontend/components/FieldString/FieldStringEdit.jsx#L127

James: we need a ticket for defaulting to the name of the field when label is missing

[2018-08-02 10:13] jimlambie commented on #384
From abovedave

[code]

[2018-08-02 10:16] jimlambie commented on #373
Ok, looks like it still needs some style tweaks, see this one for example

**1 column**
http://publish-feat-whitelabel.eb.dev.dadi.technology/content/images/new

**2 columns**
http://publish-feat-whitelabel.eb.dev.dadi.technology/articles/5351cd1f-31bc-435d-81d5-a17565041a6d

[2018-08-02 12:13] danwdart commented on #386
cq de @eduardoboucas

[2018-08-02 14:06] danwdart commented on #384
OK, so the publish block could have extra config options:
[code]

[2018-08-02 15:07] danwdart commented on #384
Any opinions on whether this should be under `publish.display` or just `publish`?

[2018-08-03 10:15] danwdart commented on #435
Is this for all FieldString/FieldNumber etc?
I'd suggest that we further abstract a generic FieldText and have FieldString/FieldNumber just be validators for it maybe - different from TextBox - I'm having to do something very similar with it here and don't want to step on everybody's toes

[2018-08-03 11:26] #373 closed

[2018-08-03 14:41] danwdart commented on #384
Hmm did this want to be for numbers / other datatypes too? I think that might want a refactor to be more dry

[2018-08-03 14:42] danwdart commented on #384
I think there wants to be a few more tests on this too

[2018-08-03 15:12] danwdart commented on #386
@eduardoboucas said:
you’re going in the right direction, in adding a config block for it. Then we’ll write the path to the image to the JS payload made available to the frontend and grab it that way
In my ACL branch, I have removed the config endpoint, as the config can now be written to the page right from the start (we no longer have API credentials to protect)
But as far as the background imag

[2018-08-05 09:01] lshchur opened #440 ""Create new" page throws an error unless the entity is declared as su"
### Expected behavior
The "Create new" form renders fine

### Actual behavior
The "Create new" form is not rendered and the error is thrown:
[code]

### Steps to reproduce the problem
1. Install and launch a blank API & a blank Publish
2. in Publish, go to "books" (a default collection), and then "Create new"
3. Observe the actual behavior

However, if I declare the collection as a submenu item, i

[2018-08-05 12:55] lshchur commented on #435
It's actual for FiledNumber, yes, because in it, it's also wrapped by Label which is given a prop `label={schema.label}`

With FieldImage, for example, it's a bit different. In there the passed label equals ```schema.label || schema._id```, so there's some kind of a fallback value in case if `label` is not specified
With FieldPassword it's also different, just for the record
```label={`Current ${s

[2018-08-06 13:49] #279 closed

[2018-08-06 14:02] #360 closed

[2018-08-06 16:26] eduardoboucas commented on #387
⏳ Waiting for the plugin architecture.

[2018-08-06 16:27] eduardoboucas commented on #379
⏳ Waiting for API 4.2.

[2018-08-08 11:41] danwdart commented on #386
Ah, I see, via frontend config

[2018-08-09 15:17] danwdart commented on #435
Sorry my comment went on the wrong issue somehow

[2018-08-09 15:24] danwdart commented on #342
I'd suggest looking for an example that does it well. Except Gmail, that's weird.

[2018-08-09 15:28] danwdart commented on #168
I remember being told "You're trying to do a select-all? We just did select all in view. Did you want to select all global? [button: Sure why not]"

[2018-08-09 15:29] danwdart commented on #385
The cloud images collection did look a little like this with some CSS tweaking. I suppose one needs to enable media in the menu first though.

[2018-08-09 15:30] danwdart commented on #389
Like multiple reference but for Text then, so implemented presumably as an `["array","of","strings","or","whatever","the","appropriate","data","type","is"]`

[2018-08-09 15:33] danwdart commented on #325
I don't like this design of "pick one from somewhere and you have to remove it if you want to change it" - wouldn't a dropdown / multiselect dropdown be better here?

[2018-08-09 15:51] danwdart commented on #325
@jimlambie what's blocked about this?

[2018-08-09 21:16] mingard commented on #325
@danwdart for now it would be great if it just followed the same journey as making the initial selection. It just needs an ‘edit’ button that takes you through to the list. Drop down isn’t a choice here, it could be a selection from a collection with thousands of entries, or one with long text field content that can’t be displayed this way.

[2018-08-10 13:53] danwdart commented on #325
yep

[2018-08-10 14:17] danwdart commented on #435
So should `schema.label || schema._id` be passed to the rest?

[2018-08-10 14:25] danwdart commented on #389
What kind of data is within scope here?
`[1,2,3]`, `["a","b","c"]`,`[{"_id":1},{"_id":2},{"_id":3}]`, `{"subdoc":"foo"}`, `{"subdoc":[1,2,3]}`

[2018-08-10 15:42] danwdart commented on #342
Was this discussed any more and not included here?

[2018-08-10 15:43] danwdart commented on #168
Would that be better?

[2018-08-10 15:43] danwdart commented on #385
Having a look to see if I can enable this atm (i.e. this afternoon)

[2018-08-12 12:51] lshchur commented on #435
Yes, that sounds about right.

[2018-08-13 09:12] danwdart commented on #385
cc @abovedave @eduardoboucas

[2018-08-13 09:24] jimlambie opened #442 "Circular reference in collection schemas causes max stack error"
When using an API collection (collection `A`) that has a Reference field which references a collection (collection `B`) that has a Reference field pointing back to collection `A`, Publish silently errors with "Max stack exceeded", and the message on the frontend is "API failure"

The error happens in the `generateApiRoutes` method when getting the maximum reference field depth.

### Use case
1. `B

[2018-08-13 09:27] danwdart commented on #442
Sounds a reasonable response for the default being "fetch and include in document whenever it's referenced" - how about adding the "Actually don't grab and compose this reference" option?

[2018-08-13 09:31] jimlambie commented on #442
@danwdart  There is actually a reasonably simple fix for this, I should have it ready later today

[2018-08-13 09:38] danwdart commented on #389
Looks like one easy option would be using `multiple` without `options` here, rendering an array of textboxes / others https://github.com/dadi/publish/blob/develop/docs/publish-specific-fields.md

I think that that warrants a plus/minus, or maybe a "you pressed enter so we made a new one" / "you pressed backspace so we deleted that option" like in tickbox-based apps

[2018-08-16 08:41] eduardoboucas commented on #435
Just wanted to add that Publish should be able to render any field as long as it has a `type` property. Everything else should be optional.

If that's okay, I'm going to change the title of this ticket so the scope becomes ensuring the above is respected.

[2018-08-16 08:45] eduardoboucas commented on #379
This can now be worked on, since API 4.2.0-rc4 (which the preview instance is running) includes support for arbitrary data against client records.

I propose a field for storing this preference, like `publishSaveOptionsLastUsed` (all fields should start with `publish`). [This action](https://github.com/dadi/publish/blob/develop/frontend/actions/userActions.js#L34-L89) allows you to save data again

[2018-08-16 10:03] #396 closed

[2018-08-17 12:05] eduardoboucas opened #447 "Collection nav not shown on profile page"
## Steps to reproduce

1. If you're not signed in, do it and do a hard refresh
2. Land on the root page (`/`)
3. Click on the user name on top-right corner to go to `/profile`
4. Observe that the collection navigation menu is not showing
5. Refresh the page (on `/profile`) and observe that the collection nav is now showing

[2018-08-17 13:26] danwdart commented on #385
Had a lot of trouble with this - but this is what I considered:
* Publish show menu item for media
* Publish route for media collection(s) should already exist but doesn't go anywhere - is it a bug?
* Pretend that the API gave it in the list of collections - but seems hacky

[2018-08-17 13:37] danwdart commented on #389
Did it go well?

[2018-08-17 13:39] danwdart commented on #387
I presume this is done? Is there docs for the plugin architecture @eduardoboucas ?

[2018-08-17 14:32] eduardoboucas commented on #389
In API, a field of type `String` also accepts an array of strings as a value. Publish can take advantage of this to render a multi-row field as described in the original comment, allowing people to add and remove rows and to change their order, which simply manipulating the array of strings.

In terms of deciding when to render this view over the normal text field, it's easy for existing documents

[2018-08-17 14:34] danwdart commented on #342
Was this decided upon? That looks natural to me though. It could just be a title attribute?

[2018-08-17 14:35] abovedave opened #448 "List view: date/time format option"
At the moment the list view shows the raw field value vs the document view where it is formatted. Some kind of format configuration would be good too.

[2018-08-17 14:35] danwdart commented on #432
Is there a doc for the multi language support here?

[2018-08-17 14:35] abovedave opened #449 "List view: link reference fields"
Allow a reference field to link to the document.

[2018-08-17 14:36] eduardoboucas commented on #385
Not sure if this helps, but Publish uses the `/api/collections` endpoint from API to populate the list of collections, and this endpoint makes a clear distinction of normal vs. media collections. Example:

[code]

I think it's sensible for Publish to display the media collections in the nav, but not sure where/how. Does it add a new top-level menu called "Media" at the end of the list of collectio

[2018-08-17 14:37] eduardoboucas commented on #389
(Pinging @abovedave)

[2018-08-17 14:38] eduardoboucas commented on #342
This wasn't discussed. It's probably best if you ask @abovedave or @joverbye about it.

[2018-08-17 14:40] eduardoboucas commented on #432
You mean API documentation? If so, it's [here](https://docs.dadi.cloud/api/4.1#multiple-languages).

I think I'm going to take this ticket myself. I have some ideas on how to tackle it.

[2018-08-17 14:41] abovedave commented on #342
My view is I think it's obviously enough as is and the stakes are low enough that using it would teach the user without any risk of deleting data etc.

[2018-08-17 14:44] danwdart commented on #389
I think that this is a choice made by the schema creator, and shouldn't normally be allowed to be swapped between multiple/single in a tab like 3, because it could necessarily mess up the schema.

2 is probably a new publish block option as I can see wanting both 1 and 2, so maybe:

`{"multiple": false, "multiline": false}` would render a `"single textbox"`

`{"multiple": false, "multiline": true}

[2018-08-17 14:50] danwdart commented on #379
Has the location for getting client data back out changed at all?

[2018-08-17 14:52] abovedave commented on #389
Could it be a whole new field vs modifying the `String` field? E.g., `list`?

[2018-08-17 14:59] danwdart commented on #342
So your suggestion is do nothing?

[2018-08-17 15:03] eduardoboucas commented on #379
Should all be [here](https://github.com/dadi/publish/blob/develop/frontend/reducers/user.js#L16).

[2018-08-17 15:06] danwdart commented on #325
I think for now we decided that the Edit button would be the same as the Choose button but with pre-filled documents, and that Remove was to be renamed to Remove All, right? Can we unblock or does this need extra?

[2018-08-17 15:07] danwdart commented on #168
What's this waiting for?

[2018-08-17 15:07] danwdart commented on #379
cool thanks

[2018-08-17 15:20] danwdart commented on #385
Yep that's what I saw, so I suppose API /media is fine, Publish just gave the invalid route error despite the route being defined, when you went to /media, /mediaStore has never worked but /media/x is supposed to work too.

[2018-08-21 12:05] eduardoboucas opened #451 "Enable Sign In button without having to click outside inputs"
To replicate:

1. Land on /sign-in
2. Fill in username, hit Tab
3. Fill in password
4. Observe that the Sign In button is still disabled

[2018-08-21 12:05] eduardoboucas opened #452 "Rename email field to username"
- [ ] On sign in page
- [ ] On profile edit page

[2018-08-21 12:06] eduardoboucas opened #453 "Add loading spinner after sign in"
The app appears unresponsive for a second or so whilst the user is being authenticated. Some visual feedback indicating that the app is performing an action would be useful.

[2018-08-21 12:08] eduardoboucas opened #454 "Error when clicking sign out from a document edit view"
### Steps to reproduce the problem

1. Sign in
2. Navigate to a collection and select a section (e.g. http://publish-develop.eb.dev.dadi.technology/articles/39c7113b-69be-4121-b815-a423b766844a/details)
3. Click sign out
4. Observe that the user is not redirected to the sign in page, even though the session was indeed destroyed

[2018-08-21 12:10] eduardoboucas opened #455 "Show success message after deleting documents from list view"
### Expected behavior

A message is shown when documents are deleted from the document list view

### Actual behavior

No message is shown

### Steps to reproduce the problem

1. Navigate to a collection
2. Select a document
3. From the dropdown in the bottom toolbar, select Delete
4. Click the Apply button
5. Observe that the document is removed from the list but no confirmation message is shown

[2018-08-22 09:27] eduardoboucas opened #456 "Navigating to a collection that returns 500 breaks the app"
When navigating to a collection that returns 500 from API (e.g. `/users` in the preview instance), causes the app to break and subsequent requests to other collections will fail.

[2018-08-22 09:50] #456 closed

[2018-08-22 10:05] eduardoboucas commented on #442
Done in #450.

[2018-08-22 10:05] #442 closed

[2018-08-22 10:09] #455 closed

[2018-08-23 01:08] davidmacp commented on #451
@eduardoboucas this might be related too:

When invalid credentials used to sign in error message is thrown - `Email not found or password incorrect`

If user attempts to correct mistake then the `Sign In` button becomes disabled again and there is no way to activate it i.e. tab or clicking between fields - a hard refresh of page is required.

http://publish-develop.eb.dev.dadi.technology/sign-in

[2018-08-23 10:47] eduardoboucas commented on #451
#460 has a fix for this, but worth noting the following caveat. The implementation of the autofill feature in some browsers (e.g. Chrome) is a bit annoying in that the form elements are automatically populated but no `onChange` events are fired until the user interacts with the page. For this reason, the initial state of the Sign in button must be _enabled_, otherwise we risk showing a disabled bu

[2018-08-23 10:52] abovedave opened #461 "Export data"
Could we provide a way to export data into various formats (CSV, HTML etc) from the list view? Could be very powerful once we have the option for a user to configure which fields are shown in the list view

[2018-08-23 11:30] danwdart commented on #451
Similar to save boxes and validation although I was pleased to find that that works properly now.

[2018-08-23 11:39] #451 closed

[2018-08-23 11:39] #452 closed

[2018-08-23 12:09] eduardoboucas commented on #454
I believe this has been fixed. Can anyone replicate?

[2018-08-23 12:10] eduardoboucas commented on #440
Hi @lshchur, could you try to replicate this in 1.0.7-beta, please?

[2018-08-23 12:26] abovedave commented on #368
Ok I've added: `publishUrl` and `security.transportSecurity` and all appears good, I see this in the console:

[code]

[2018-08-23 14:08] #428 closed

[2018-08-23 14:10] eduardoboucas commented on #461
That's a cool idea! Not sure where this sits in the list of priorities, but in any case it'd be useful if you could provide us with a design/mockup showing how this could look, so that we have all the information when we manage to start development on this.

[2018-08-23 16:33] danwdart commented on #385
Might be easier to add it in the list of "normal" collections in API, and mark it as media, to be dealt with in a similar way.

[2018-08-23 16:33] danwdart commented on #385
Either way this sounds pretty big.

[2018-08-23 18:52] danwdart commented on #385
Added the fixes in #463

[2018-08-24 10:37] eduardoboucas opened #464 "Handle CORS errors"
It would be nice if Publish could distinguish between an API that is not responding and an API that is responding but does not have CORS enabled (which is required for Publish to work).

Currently, the message "The API is not responding" is shown for both cases.

[2018-08-24 14:39] eduardoboucas commented on #325
Assigning to me, as I've (inadvertently) started working on this. 😑

[2018-08-28 03:58] davidmacp opened #465 "Change Error Message When Invalid Credentials Used"
### Expected behavior
At sign in user asked to enter `Username` and `Password`. If invalid credentials are entered, error message should display `Username not found or password incorrect`

### Actual behavior
Error message displays as `Email not found or password incorrect`

### Steps to reproduce the problem
http://publish-develop.eb.dev.dadi.technology
Attempt sign in with invalid credentials
Er

[2018-08-28 05:12] davidmacp opened #466 "Success Message Displayed When Password Incorrect"
### Expected behavior
When updating password on `/profile/credentials` page, if `Current password` is entered incorrectly and `Save settings` is clicked `This password is incorrect` message should be displayed to user.
### Actual behavior
When updating password on `/profile/credentials` page, if `Current password` is entered incorrectly and `Save Settings` is clicked `Your profile has been updated

[2018-08-28 14:39] eduardoboucas opened #468 "Redirect to original route after sign in"
### Expected behavior

If I click on a URL when I'm not signed in, I'm redirected to the sign in page. After I fill in my credentials and successfully sign in, I'm redirected to the original URL I tried to access.

### Actual behavior

On sign in, I'm always redirected to the root URL.

[2018-08-28 15:14] #325 closed

[2018-08-28 15:14] #432 closed

[2018-08-28 15:14] #464 closed

[2018-08-29 03:33] davidmacp commented on #454
@eduardoboucas

I am still seeing this in http://publish-develop.eb.dev.dadi.technology/

Even trying to sign out from http://publish-develop.eb.dev.dadi.technology/articles gets the following:

![screen shot 2018-08-29 at 1 29 48 pm](https://user-images.githubusercontent.com/36462430/44763774-060dad00-ab90-11e8-8922-2617797db815.png)

[2018-08-29 11:54] eduardoboucas commented on #28
The idea behind this one is to be able to display field tips, coming from an API field (probably `example`). This would be displayed in the same place as *Required* is currently shown on required fields. When a field is required and has an `example` property, the latter would take precedence.

I've been trying to make field components (e.g. `FieldString`, `FieldReference`, etc.) rely as little as

[2018-08-29 12:32] danwdart commented on #385
Now, the routes can be added to new doc list views, but investigating the existing part that looks like this, to be reused.

[2018-08-29 14:05] eduardoboucas commented on #385
Let me know when the PR is ready to review and I'll have a look.

[2018-08-29 14:06] eduardoboucas commented on #168
I think this is waiting for some UI guidance. Pinging @abovedave and adding the corresponding label.

[2018-08-29 14:15] eduardoboucas commented on #286
✅ 🕸

[2018-08-29 14:15] #286 closed

[2018-08-29 14:18] eduardoboucas commented on #454
@davidmacp it was indeed part of #469. Those changes have been merged into `develop` now, so can you please re-test and close the issue if the problem is gone?

Thanks!

[2018-08-29 14:30] eduardoboucas commented on #389
API is not ready for custom fields yet, so it would still need to be `{"type": String}`, but we could have `{"subType": "List"}`, or something (see [subType](https://github.com/dadi/publish/search?q=subType&unscoped_q=subType)).

I have removed the blocked label, as there's nothing stopping development work.

[2018-08-29 15:29] danwdart commented on #389
Would you prefer subtype list to multiple boolean @eduardoboucas ?

[2018-08-29 17:51] eduardoboucas commented on #387
@danwdart We realised this could be built ahead of the plugin architecture piece. We can build this as a separate field component, triggered using a specific `subType` – e.g. `{"type": "String", "publish": {"subType": "Markdown"}}`. You can search for `subType` in the repository to have an idea of where and how this is used.

Removing the *blocked* label...

[2018-08-29 17:55] eduardoboucas commented on #389
I'm not sure, to be honest. The `subType` property is used to make the field rendered by a completely different component – i.e. `FieldString` would not be used at all, and something like `FieldStringList` would kick in. Doing it as another property inside the `publish` block, like `multiple`, means adding the new logic to the existing `FieldString` component.

I guess the answer is in how much of

[2018-08-29 17:57] eduardoboucas commented on #342
@jimlambie you raised this one – how do you feel about it these days?

[2018-08-29 20:51] jimlambie commented on #342
@eduardoboucas I'm happy for it to be closed if no one else considers it essential for intuitive use of the interface

[2018-08-29 21:18] #342 closed

[2018-08-29 23:08] davidmacp commented on #454
Working as expected now. Ok to close.

[2018-08-29 23:13] #454 closed

[2018-08-30 07:49] jimlambie commented on #410
@eduardoboucas it must be possible to close this one, we've been using Filestore primarily?

[2018-08-30 07:54] jimlambie commented on #420
Retested in Chrome, works as expected

[2018-08-30 07:54] #420 closed

[2018-08-30 08:42] eduardoboucas commented on #410
Indeed!

[2018-08-30 08:42] #410 closed

[2018-08-30 09:45] davidmacp opened #470 "Success message on profile page shows for >5 seconds"
### Expected behavior
Change password or first/last name on the `/profile` pages successfully and the `Your profile has been updated` message should display for a few moments to confirm action.
### Actual behavior
Change password or first/last name on the `/profile` pages successfully and the `Your profile has been updated` message gets displayed for approximately 10-11 seconds before disappearing

[2018-08-30 11:46] abovedave opened #472 "Multi-lang support"
Reference:
dadi/internal#7
dadi/api#433
dadi/web#405

Button to match size/padding of the save button (keep it greyscale though please)

<img width="215" alt="screen shot 2018-08-30 at 12 42 30" src="https://user-images.githubusercontent.com/649231/44849491-31f16700-ac52-11e8-9463-25b2470b5036.png">

* Font size 15px
* Font weight bold
* Padding left 16px
* Padding right 60px
* Darker `:focus` sta

[2018-08-30 15:57] #449 closed

[2018-08-30 15:57] #466 closed

[2018-08-30 17:32] danwdart commented on #385
Not having a very good time cloning stuff - please let me know what you recommend cloning - I keep coming against either route issues or nothing existing. I don't really want to clone everything especially - it would be nice to use Document stuff for some of it.

[2018-08-31 12:51] davidmacp opened #475 "Pagination not working on Articles page"
### Expected behavior
If viewing articles on http://publish-develop.eb.dev.dadi.technology/articles and there is > 1 page clicking on `Next` button at foot of page OR entering the page number you want go to in the `Go to page` box should take you to the next page OR the page number selected
### Actual behavior
Clicking on `Next` OR entering a page number in the `Go to page` box just refreshes the

[2018-09-03 08:51] abovedave opened #476 "List view: resolve reference fields"
### Expected behavior

The same behaviour as in a document i.e., the text from the first `String` field and a link to the referenced document.

(Could we even choose which sub-document field to display?)

### Actual behavior

Currently reference fields are blank if displayed in the list view.

[2018-09-03 09:08] abovedave opened #477 "External 'linkable' fields"
### Expected behavior

There are times when you might be showing a field that is part of an external service e.g., a twitter username. It would be handy to be able to turn these into links to external resources.

i.e., clicking on `josephdenne` would link to `https://twitter.com/josephdenne`

![screen shot 2018-09-03 at 09 56 33](https://user-images.githubusercontent.com/649231/44977409-d380fd00-a

[2018-09-03 09:49] jimlambie commented on #412
@abovedave @davidmacp is this still an issue or has it been resolved in the latest beta release?

[2018-09-03 09:51] jimlambie commented on #303
@eduardoboucas for your review regarding whether this is still a thing

[2018-09-03 09:51] abovedave opened #478 "DateTime is still editable when set to readonly"
### Expected behavior

The field is disabled.

### Actual behavior

You can edit the field as normal

### Steps to reproduce the problem

[code]

[2018-09-03 22:57] davidmacp commented on #412
@jimlambie Just checked on http://publish-develop.eb.dev.dadi.technology/

And it is still happening there.

Is that running against the latest beta release? Not sure where to check that 🤔

[2018-09-06 14:10] abovedave opened #480 "'remember me' configuration"
The logged in session is quite short and logs you out after a short time of inactivity. It would be great to have a configuration option for a 'remember me' cookie and it's associated session length.

[2018-09-07 12:29] jimlambie commented on #470
@davidmacp please test here

http://publish-feature-shorter-notification-duration.eb.dev.dadi.technology/articles/48aaa1b6-61b6-46ad-b5e2-87a1baaec4d8

[2018-09-09 23:58] davidmacp commented on #470
@jimlambie works well! 👍

[2018-09-10 12:41] danwdart commented on #384
I've been asked to fix the flash of the size of the textbox being changed quickly - so looking into that now.

[2018-09-10 13:34] jimlambie commented on #478
@davidmacp @abovedave Can be tested here:
http://publish-patch-readonly-datetime-v2.eb.dev.dadi.technology/articles/d1452600-6ac3-4555-bb63-d35510a450d2

[2018-09-10 13:35] #470 closed

[2018-09-10 15:08] danwdart commented on #416
I'll take this

[2018-09-11 00:10] davidmacp commented on #478
@jimlambie

Re-tested on above URL. DateTime field is read only when creating OR editing an article.

Noted though and this is also happening on http://publish-develop.eb.dev.dadi.technology/sign-in

If a new article is created a Date & Time is stamped

![screen shot 2018-09-11 at 10 06 10 am](https://user-images.githubusercontent.com/36462430/45330826-a27d7980-b5aa-11e8-808a-8dd0cdd345f3.png)

Ho

[2018-09-11 06:47] jimlambie commented on #478
@davidmacp are you sure? I see one here http://publish-patch-readonly-datetime-v2.eb.dev.dadi.technology/articles/66477d59-b5ce-4a23-9000-268d7d41516d

[2018-09-11 06:48] jimlambie commented on #478
@davidmacp note that when testing new versions of Publish, you _may_ have to clear the application data from devtools

[2018-09-12 09:42] mingard opened #488 "Default filter operators"
For fields with type `String` the current default filter operator is _equals_ and should perhaps be _contains_. There may be other types that need revisiting. Possibly `Boolean` fields should either be `yes` or the `default` param if set.

[2018-09-12 15:28] abovedave opened #489 "Reference field is still editable when set to readonly"
Similar to #478, these buttons should be disabled or removed:

<img width="194" alt="screenshot 2018-09-12 at 16 27 51" src="https://user-images.githubusercontent.com/649231/45435697-f1a9d400-b6a8-11e8-8348-46f3f24d19f3.png">

[2018-09-12 15:29] abovedave commented on #489
May also be worth looking at limiting the number of references that can be made e.g., max of 1

[2018-09-12 16:04] jimlambie commented on #489
I think there's an API ticket for the reference limiting

[2018-09-12 16:06] jimlambie commented on #476
@abovedave you mentioned adding a visual indicator to reference fields in the list view?

[2018-09-12 17:06] #475 closed

[2018-09-14 04:58] davidmacp opened #491 "Unable to click `Add Filter` button"
### Expected behavior
Clicking `Add Filter` button should give user option to add a filter to search.

![screen shot 2018-09-14 at 2 42 56 pm](https://user-images.githubusercontent.com/36462430/45530472-2c894480-b82e-11e8-8209-b7786e99b740.png)

### Actual behavior
`Add Filter` button is not 'clickable' and unable to filter
(n.b. `COMMAND + F` on Mac displays the filter options)

![screen shot 201

[2018-09-14 13:56] abovedave opened #492 "Language selector hidden on mobile"
![image_from_ios](https://user-images.githubusercontent.com/649231/45554447-5b9fb600-b82e-11e8-9c85-d7aed934e83f.png)

[2018-09-17 10:00] #476 closed

[2018-09-17 10:05] #478 closed

[2018-09-17 10:54] danwdart commented on #384
This should be able to go to less than 2½ lines.

[2018-09-18 15:59] danwdart commented on #384
This confuses me because unless I set it to "height = scroll height + 16" or more it still flashes, but not otherwise. I tried doing it based on a multiple of font size but that wasn't available, so I'm a little confused on this one.

[2018-09-18 16:00] danwdart commented on #416
The feedback on this one was that it still flashes a little when in profile view / smaller mode

[2018-09-19 11:18] abovedave opened #499 "Add protocol to boot message"
Small detail, but you can't `cmd+click` the `@ 127.0.0.1:3002` to open in the browser if there is no `http://` or `https://`

[code]

[2018-09-19 11:45] eduardoboucas commented on #387
I'll take this one. 🕵️

[2018-09-19 15:59] danwdart commented on #416
@eduardoboucas I've tried this a fair bit, and I think it could be relating to the browser timing out / not noticing / not sending the event to change the state. Most of the time it works, but it's not reproducable 100%, so not sure what to do.

[2018-09-19 16:02] danwdart commented on #384
Looks like that all we can do here unless anyone has any bright ideas is to keep it bigger - so that it can adequately respond. I could make it link into the "pressing enter" / "how many line feeds are there" but that's not very reliable. Only other thing I could do is to experiment with "should I add / remove a row in the attribute" when things change. I don't think changing the heights is correc

[2018-09-20 10:40] jimlambie commented on #365
@eduardoboucas  Is this perhaps an issue for API, rather than Publish?

[2018-09-20 10:49] #447 closed

[2018-09-20 11:13] eduardoboucas commented on #365
I believe so, yes. Also, once we have the chance to work on https://github.com/dadi/api/issues/451, both API and Publish will be able to use the same engine for validation, so whatever rules we implement will apply to both automatically.

[2018-09-20 11:23] eduardoboucas opened #503 "Batch load collection schemas"
Read all collection schemas from the `/api/collections` endpoint, rather than making individual calls to their `/config` endpoints.

Depends on https://github.com/dadi/api/issues/492.

[2018-09-20 16:53] danwdart commented on #379
@eduardoboucas this custom field, should it go under "data" in the user?

[2018-09-20 17:10] danwdart commented on #379
I figured it is "data" and made it work without any extra API changes.

[2018-09-21 08:39] #435 closed

[2018-09-21 08:51] #181 closed

[2018-09-24 10:02] #499 closed

[2018-09-24 10:18] paulrgn opened #507 "Image upload within article view"
As an editor, I'd like to be able to upload and insert inline images into articles without leaving the article page.

[2018-09-24 10:23] paulrgn opened #508 "Session expiry tweaks"
As an editor I'd like to adjust the session expiry settings so that I don't get locked out of an article mid-session. I would also like to see a warning message if a session expires during the process of editing an article, plus be confident the auto-save function is protecting my content.

So:

- [ ] Increase session expiry time from five minutes to a suitable longer alternative. I suggest 30 min

[2018-09-24 10:33] paulrgn opened #509 "Article preview (investigation)"
As an editor I would like to be able to preview articles before publishing so that I can check content presentation. This does not need to be a literal interpretation of the page, just enough to see how the copy is presented with all markdown styling/elements applied. It would also be useful to see at least an approximation of presentation on different devices (perhaps by adjusting the browser win

[2018-09-24 10:36] eduardoboucas commented on #507
We need some steering from the design team on how this will look.

/cc @abovedave @joverbye

[2018-09-24 14:43] #416 closed

[2018-09-24 15:01] danwdart commented on #362
Does that mean the requirements for this ticket have changed? Should there be separate tickets for Publish and API? So is it Publish to just check / ignore if fail here and then another ticket for API to deal with validation on a bigger bit?

[2018-09-24 15:29] danwdart commented on #348
I recall the discussion about this - did we want to show a similar "edit" / "delete" UI as text arrays?

[2018-09-24 15:33] jimlambie commented on #348
@danwdart exactly that, yes - so clicking "Edit" would take you to the media collection selection page

[2018-09-24 15:44] danwdart commented on #362
@jimlambie what's the updated location?

[2018-09-24 15:52] jimlambie commented on #362
@danwdart an excellent question, and not one I can answer... @eduardoboucas ?

[2018-09-25 11:43] #379 closed

[2018-09-25 12:28] danwdart commented on #362
the answer to this was that this message shouldn't appear. Turns out what I've tried is actually changing settings.collection to a nonsense settings.collections with an array to see if it'd complain. So settings.collection isn't mandatory - and looks like from the docs that settings isn't either - but wouldn't it make sense to restrict a list of known / allowed collections rather than allowing jus

[2018-09-25 14:42] danwdart opened #511 "Not installable on Node 10"
Latest Publish isn't installable on Node 10 due to the `ursa` library in deep dependencies not yet running on it. Current workaround is to use Node 8 via nvm or similar.

Somebody made a fix for ursa itself but it hasn't yet been merged:

See also: https://github.com/JoshKaufman/ursa/issues/167

Current Node supported version is 8, and should be 8 and 10 as of next Tuesday as per docs saying "Acti

[2018-09-25 14:48] abovedave commented on #509
In the same vein of these tight coupling with Web + API, would be cool to get a link to the document in the front end

[2018-09-25 14:50] abovedave commented on #509
Wondering if the answer is some kind of internal publish fields in API? Similar to Craft and Wordpress

<img width="346" alt="screenshot 2018-09-25 at 15 49 05" src="https://user-images.githubusercontent.com/649231/46022506-aba63480-c0da-11e8-94a0-d4a2922cd3e7.png">
<img width="300" alt="screenshot 2018-09-25 at 15 49 30" src="https://user-images.githubusercontent.com/649231/46022507-aba63480-c0da

[2018-09-25 15:02] abovedave opened #512 "Editor control of image crops"
Multiple crops are sometimes required - could we have some sort of 'DADI CDN' aware field subtype?

![imagecrop480](https://user-images.githubusercontent.com/649231/46023386-71d62d80-c0dc-11e8-98fa-2bd166594259.gif)

[2018-09-25 21:17] eduardoboucas commented on #509
I'm personally not a fan of the preview link route because I think it creates dangerous precedents in terms of coupling and, most importantly, it makes a lot of bad assumptions.

1. For Publish to generate a preview URL, it needs to know where the final content is published, so it needs to learn about where Web (or similar) lives. And that assumes that the content will be published to one single l

[2018-09-27 14:13] #503 closed

[2018-09-27 14:14] #28 closed

[2018-10-02 01:33] davidmacp opened #519 "Deleting within document throws ReferenceError"
### Expected behavior
While editing a document user should be able to select the `Delete` button, confirm the request and delete the document
### Actual behavior
While editing a document if user selects the `Delete` button then confirms the request a console ReferenceError is thrown and page hangs.

![screen shot 2018-10-02 at 11 12 02 am](https://user-images.githubusercontent.com/36462430/4632430

[2018-10-02 09:12] eduardoboucas commented on #519
This should now be fixed in the URL you referenced. Please re-open if the issue still persists.

Thanks!

[2018-10-02 09:12] #519 closed

[2018-10-03 04:48] davidmacp opened #520 "Save and create new doc triggers incorrect confirmation message"
### Expected behaviour
Creating a document and selecting `Save and create new` should give the confirmation message: `The document has been created` and user is returned to Document List view where new document is listed.
### Actual behaviour
Creating a document and selecting `Save and create new` gives the following confirmation message: `The documents have been deleted` and user is returned to D

[2018-10-03 23:25] davidmacp opened #522 "Error on Sign Out in documentEdit view"
### Expected behavior
When in `documentEdit` view, user should be able to click the `Sign Out` button and be signed out successfully
### Actual behavior
When in `documentEdit` view, when user clicks the `Sign Out` button a console log `TypeError` is thrown and the user session is ended.

![sign_out_thing](https://user-images.githubusercontent.com/36462430/46444735-bd609980-c7b6-11e8-962a-3db97fc5d

[2018-10-04 00:59] davidmacp commented on #520
@eduardoboucas this issue also looks to have been fixed with the recent commits you did to make me happy 😄  - closing

[2018-10-04 00:59] #520 closed

[2018-10-08 14:40] danwdart commented on #362
I'm back onto this and last I saw was that I had a little trouble figuring out that if there was no settings.collection how I should deal with it later, since not having one had a problem later in the function. But will investigate nonetheless.

[2018-10-09 10:07] anaumovets commented on #348
Some general questions about FileImageEdit:
1. We have file name "blabla.png" and then a number of files referenced under that name. What does that mean? More generally, what's the usage scenario for this component case of multiple files?
2. What to do when an existing file is uploaded (via select from device)? Currently, a duplicate is added - that doesn't feel right.

[2018-10-09 10:18] jimlambie opened #525 "Pagination returns 404 in Reference field selection"
### Expected behavior

When selecting a document from a referenced collection, it should be possible to use pagination to navigate the document list

### Actual behavior

Clicking on `Next` or a page number results in a 404 screen

### Steps to reproduce the problem

1. Sign in and navigate to http://publish-develop.eb.dev.dadi.technology/articles
2. Click on a document
3. Click "Edit" in the Auth

[2018-10-09 10:46] danwdart commented on #348
I don't think that's right though - isn't it supposed to be for multiple different images?

[2018-10-09 10:51] danwdart commented on #28
That's funky, I've always wondered about that - so is it inclusive of "Required" if required? I think it'd be nice if it was.

[2018-10-09 10:53] danwdart commented on #503
This sounds really awesome and is helpful for speed.

[2018-10-09 11:04] danwdart commented on #451
(by which I mean that the sign in box is available again now)

[2018-10-09 14:11] danwdart commented on #362
I think this has been fixed by other code in passing. I'm not getting any such error anymore without the settings block - I'm just not seeing the field appear.

[2018-10-09 14:19] danwdart commented on #385
Able to continue I think given appropriate splitting out of things.

[2018-10-09 15:43] danwdart commented on #362
Parking as per @jimlambie 's recommendation

[2018-10-09 15:59] danwdart opened #527 "Navigating under an expired session results in 404 rather than redirect to login"
### Expected behavior
I've tried to access something I no longer have the cookies for, so I should be expected to log in.

### Actual behavior
Every route 404s,

### Steps to reproduce the problem
Remove cookies from current session or wait for their expiry, then click a menu item and observe it 404s.

### Package details
Latest publish

[2018-10-09 16:51] jimlambie commented on #491
@davidmacp this looks to have been resolved, could you please retest and close if this is the case?

[2018-10-09 22:38] davidmacp commented on #491
Working as expected now. Ok to close.

[2018-10-09 22:38] #491 closed

[2018-10-10 08:36] anaumovets commented on #389
@abovedave , could you please clarify what [+] and [-] should look like exactly. Should these be new UI elements, or do we have them somewhere already (I haven't found anything)? And how should reordering work - drag&drop?
More generally, for this issue and for some others, it'd be great to have a user perspective. An actual scenario when someone is using this components with more or less realisti

[2018-10-10 09:38] jimlambie commented on #453
Closed by https://github.com/dadi/publish/pull/523

[2018-10-10 09:38] #453 closed

[2018-10-10 10:39] jimlambie commented on #525
Closed via cc9ff12e0a6b9089c4d63094799da8bef33fd840

[2018-10-10 10:39] #525 closed

[2018-10-10 12:09] abovedave opened #528 "Rich editor: html in code blocks is parsed"
### Expected behavior

HTML tags are visible in code blocks.

### Actual behavior

Looks like they might be being parsed.

### Steps to reproduce the problem

In `text` mode type a code block with html in  (NB. should be three `)

[code]

[2018-10-10 12:13] abovedave opened #529 "Rich editor: overflow scroll on code blocks"
### Expected behavior

Code blocks should scroll internally, rather than the whole editor field e.g., like github:

[code]

### Actual behavior

The whole view is scrollable horizontally:

<img width="948" alt="screenshot 2018-10-10 at 13 12 10" src="https://user-images.githubusercontent.com/649231/46735429-2734e380-cc8e-11e8-9e68-a8d1c6b6e6dc.png">

### Steps to reproduce the problem

Insert a lo